<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%= params.header %></h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-<%= color %>" id="message">
                        <button type="button" class="close" onclick="closeMessage();">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <div><span><%- message %></span></div>
                    </div>
                    <% } %>
                    
                    <div class="panel panel-default m-b-xxl">
                        <div class="panel-heading font-bold">Generator</div>
                        <div class="panel-body">
                            <form method="POST" name="form" class="form-validation" id="generator-form">
                                
                                <div class="form-group">
                                    <label>Type</label>
                                    <select name="type" class="form-control m-b" id="firstDropDown" onchange="setSecondReportDropdown(this.value);" onload="document.getElementById('firstDropDown').options.length = -1; return true;">
                                        <option value="" selected="selected">Select...</option>
                                        <option value="faa_flight_report">FAA Flight Report</option>
                                    </select>
                                </div>
                                <div class="form-group hidden" id="secondDropDownContainer">
                                    <label id="secondDropDownLabel"></label>
                                    <select name="report" id="secondDropDown" class="form-control m-b" onchange="checkReportValues(this.value);">
                                        <option value="" selected="selected">Select...</option>
                                    </select>
                                </div>
                                <a class="btn btn-md btn-info hidden pull-left" onclick="generatePDF();">Generate PDF</a>
                                <div id="pdf-generator-loader" class="pull-left m-t-sm m-l-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                                <div id="pdf-generator-message" class="pull-left text-info m-l-md m-t-sm"></div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                    aaData: <%= params.data %>,
                                    aoColumns: [
                                        { mData: 'date' },
                                        { mData: 'type', 'sClass': 'text-center' },
                                        { mData: 'parent_name'},
                                        { mData: 'download', 'sClass': 'text-center', 'bSortable': false },
                                        { mData: 'delete', 'sClass': 'text-center', 'bSortable': false }
                                    ],
                                    aaSorting: [[0,'desc']]
                                }">
                                <thead>
                                    <tr>
                                        <th width="30%">Date</th>
                                        <th>Type</th>
                                        <th>Origin</th>
                                        <th width="10%">Download</th>
                                        <th width="10%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
            <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->

<!-- delete popup -->
<div id="modal-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Report</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this report?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" id="modal-delete-button">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="hidden" id="fileLink"><a href="" target="_blank">ZIP</a></div>

<% include ../common/notes %>
<% include ../common/footer %>
<% include ../common/scripts %>
<script type="text/javascript">
$(document).ready(function () {
    $("select").each(function () {
        $(this).val($(this).find('option[selected]').val());
    });
})
</script>
<% include ../common/intercom %>
<% include ../common/end %>