<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">Vehicle Info</div>
    <div class="panel-body">
        <form method="POST" name="form" class="form-validation" id="vehicle-form">
            <input type="hidden" name="vehicle" value="1">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter vehicle name" required value="<%= params.name %>" id="vehicle-name">
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" name="type" class="form-control" placeholder="Enter vehicle type" required value="<%= params.type %>">
            </div>
            
            <div class="form-group">
                <label>Manufacturer</label>
                <input type="text" name="manufacturer" class="form-control" placeholder="Enter vehicle manufacturer" value="<%= params.manufacturer %>">
            </div>
            <div class="form-group">
                <label>Model</label>
                <input type="text" name="model" class="form-control" placeholder="Enter vehicle model name" value="<%= params.model %>">
            </div>
            <div class="form-group">
                <label>Serial Number</label>
                <input type="text" name="serial_number" class="form-control" placeholder="Enter vehicle serial number" value="<%= params.serial_number %>" id="vehicle-serial-number">
            </div>
            <div class="form-group">
                <label>FAA Aircraft ID</label>
                <input type="text" name="faa_aircraft_id" class="form-control" placeholder="Enter vehicle FAA Aircraft ID" value="<%= params.faa_aircraft_id %>">
            </div>
            <div class="form-group status">
                <label>Status</label>
                <select name="status" class="form-control m-b">
                    <option value="1" <% if(params.status == 1){%> selected="selected" <% } %>>Active</option>
                    <option value="2" <% if(params.status == 2){%> selected="selected" <% } %>>Grounded</option>
                    <option value="3" <% if(params.status == 3){%> selected="selected" <% } %>>Retired</option>
                </select>
            </div>
            <div class="form-group">
                <label>Notes</label>
                <textarea name="notes" class="form-control" id="vehicle-notes"><%= params.notes %></textarea>
            </div>
            <div class="submit-container">
                <button type="submit" class="btn btn-default btn-info">Save</button>
            </div>
        </form>
    </div>
</div>