<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%- params.header %></h1>
                        </div>

                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-<%= color %>" id="message">
                        <button type="button" class="close" onclick="closeMessage();">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <div><span><%- message %></span></div>
                    </div>
                    <% } %>
                    <% include form %>
                </div>
            </div>
            <!-- / main -->
        <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->

<% include ../common/footer %>
<% include ../common/scripts %>
<script src="/assets/js/areyousure/jquery.are-you-sure.js"></script>
<script>
  $(function() {
    $('#vehicle-form').areYouSure({
        message: 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.'
    });
  });
</script>
<% include ../common/intercom %>
<% include ../common/end %>