<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%= params.header %></h1>
                            <a class="btn m-b-xs btn-info btn-addon pull-right" href="/vehicles/add"><i class="fa fa-plus" ></i>Create New Vehicle</a>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-<%= color %>" id="message">
                            <button type="button" class="close" onclick="closeMessage();">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div><span><%- message %></span></div>
                        </div>
                    <% } %>
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                    aaData: <%= params.data %>,
                                    aoColumns: [
                                        { mData: 'name' },
                                        { mData: 'type' },
                                        
                                        { mData: 'manufacturer' },
                                        { mData: 'model' },
                                        { mData: 'serial_number' },
                                        { mData: 'faa_aircraft_id'},
                                        { mData: 'status', 'sClass': 'text-center' },
                                        { mData: 'notes', 'sClass': 'text-center'},
                                        { mData: 'edit', 'sClass': 'text-center', 'bSortable': false },
                                        { mData: 'delete', 'sClass': 'text-center', 'bSortable': false }
                                    ]
                                }">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Serial Number</th>
                                        <th>FAA Aircraft ID</th>
                                        <th width="10%">Status</th>
                                        <th width="10%">Notes</th>
                                        <th width="10%">Edit</th>
                                        <th width="10%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->

<!-- delete popup -->
<div id="modal-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Vehicle</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this vehicle?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" id="modal-delete-button">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<% include ../common/notes %>
<% include ../common/footer %>
<% include ../common/scripts %>
<% include ../common/intercom %>
<% include ../common/end %>