<div class="wrapper-md">
    <div class="fade-in">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <div class="wrapper-md b-b">
                    <div class="m-b-md">
                        <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" over-class="b-info" id="dropzone">
                            <p>Drag images here to upload, or click to select</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md">
                    <div class="table-responsive">
                        <table class="table bg-white-only b-a m-b-none">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th width="10%">Size</th>
                                    <th class="text-center">Progress</th>
                                    <th width="20%">Type</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center" nowrap>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="previews">

                            </tbody>
                        </table>
                    </div>

                    <div class="m-t-lg">
                        <button type="button" class="btn btn-addon btn-success" id="upload-all" disabled="disabled" onclick="uploadAll();"><i class="fa fa-arrow-circle-o-up"></i> Upload all</button>
                        <button type="button" class="btn btn-addon btn-danger" id="remove-all" disabled="disabled" onclick="removeAll();"><i class="glyphicon glyphicon-remove"></i> Remove all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>