<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th width="20"  class="text-center">Attach</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Added By</th>
                    <th width="10%" class="text-center">Created</th>
                    <th width="10%" class="text-center">Preview</th>

                </tr>
            </thead>
            <tbody id="all-documents">
                <% if(params.flightplanDocuments.length > 0){ %>
                    <% if(params.documents.length > 0){ %>
                        <% for(var i = 0; i < params.documents.length; i++) { %>
                            <tr>
                                <td  class="text-center"><label class="i-checks m-b-none"><input type="checkbox" name="documents" value="<%= params.documents[i].id %>" <% for(var j = 0; j < params.flightplanDocuments.length; j++) { %> <% if(params.flightplanDocuments[j].document_id == params.documents[i].id){ %> checked="checked"<% } %> <% } %>><i></i></label></td>
                                <td><%= params.documents[i].name %></td>
                                <td><%= params.documents[i].size %></td>
                                <td><%= params.documents[i].document_type %></td>
                                <td><%= params.documents[i].user %></td>
                                <td class="text-center"><%= params.documents[i].modified %></td>
                                <td class="text-center"><a href="<%= params.documents[i].file_path %>" target="_blank"><i class="icon-magnifier"></i></a></td>
                            </tr>
                        <% } %>
                    <% } %>
                <% }else{ %>
                    <% if(params.documents.length > 0){ %>
                        <% for(var i = 0; i < params.documents.length; i++) { %>
                            <tr>
                                <td  class="text-center"><label class="i-checks m-b-none"><input type="checkbox" name="documents" value="<%= params.documents[i].id %>"><i></i></label></td>
                                <td><%= params.documents[i].name %></td>
                                <td><%= params.documents[i].size %></td>
                                <td><%= params.documents[i].document_type %></td>
                                <td><%= params.documents[i].user %></td>
                                <td class="text-center"><%= params.documents[i].modified %></td>
                                <td class="text-center"><a href="<%= params.documents[i].file_path %>" target="_blank"><i class="icon-magnifier"></i></a></td>
                            </tr>
                        <% } %>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
