<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%- params.header %></h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <% include form %>
            </div>
            <!-- / main -->    
        <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->

<% include ../common/footer %>
<% include ../common/scripts %>
<script src="/assets/js/jquery/dropzone/dropzone.js"></script>
<script type="text/javascript">
    var inline = false;
    var rowTemplate =   '<tr>' + 
                            '<td data-dz-name class="v-middle"><strong class="error text-danger" data-dz-errormessage></strong></td>' + 
                            '<td data-dz-size class="v-middle"></td>' +
                            '<td class="v-middle text-center">' + 
                                '<div class="progress progress-sm m-n">' + 
                                    '<div class="progress-bar bg-info progress-bar-striped" data-dz-uploadprogress></div>' + 
                                '</div>' + 
                            '</td>'+
                            '<td class="v-middle">' + 
                                '<select  class="form-control">';
                                <% for (var i = 0; i < params.documentTypes.length; i++){ %>
                                    rowTemplate += '<option value="<%= params.documentTypes[i].id %>"><%= params.documentTypes[i].name %></option>';
                                <% } %>
                                rowTemplate += '</select>' + 
                            '</td>' + 
                            '<td class="text-center v-middle status"></td>' +
                            '<td class="text-center v-middle action no-wrap"></td>' +
                        '</tr>';
   
    var S3RequestURL = '<%= params.S3RequestURL %>';
    var S3Bucket = '<%= params.S3Bucket %>';

    var availableDocStorageSpace = <%=availableDocStorageSpace %>;
</script>
<script src="/assets/js/upload.js"></script>
<% include ../common/intercom %>
<% include ../common/end %>