<div class="text-center">
    <p class="m-b-lg">
        <a href="mailto:ivan@easyaerial.com?subject=GlobalARC"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact Us </a>
    </p>
    <p>
        <small class="text-muted"> &copy; <%= year %></small>
    </p>
</div>