<% include ../common/metadata_start %>
<% include ../common/metadata_end %>

<div class="container w-xxl w-auto-xs">
    <% include logo %>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Forgot Password</strong>
        </div>
        <form method="POST" name="reset">
            <% if (message.length > 0) { %>   
                <div class="alert alert-<%= color %> text-center">
                    <div><span><%- message %></span></div>
                </div>
            <% } %>
           
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" name="email" value="<%= params.email %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-info btn-block">Send</button>
        </form>   
        <div class="text-center m-t m-b"><a href="/auth">Go Back</a></div>    
          
    </div>
</div>
<% include copyright %>
<% include ../common/scripts %>
<% include ../common/intercom_loggedout %>
<% include ../common/end %>