<% include ../common/metadata_start %>
<% include ../common/metadata_end %>

<div class="container w-xxl w-auto-xs">
    <% include logo %>   
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign In</strong>
        </div>
        <form method="POST" name="form" class="form-validation">
            <% if (message.length > 0) { %>   
                <div class="alert alert-danger text-center">
                    <div><span><%- message %></span></div>
                </div>
            <% } %>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" name="email" required value="<%= params.email %>">
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" name="password" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" name="remember_me" value="yes"><i></i> Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-info btn-block">Sign in</button>
            <div class="text-center m-t m-b pull-left"><a href="/auth/forgot-password">Forgot Password?</a></div>
            <div class="text-center m-t m-b pull-right"><a href="/auth/resend-activation">Resend Activation Email</a></div>
            <div class="line line-dashed"></div>
            <div class="wrapper text-center"><strong>or sign in with</strong></div>
            <div class="text-center"><a href="/auth/google" class="btn btn-rounded btn-lg btn-danger"><i class="fa fa-fw fa-google"></i> Google</a></div>
            <div class="line line-dashed"></div>
            <div class="line line-dashed"></div>
            <div class="wrapper text-center"><strong>Do not have an account?</strong></div>
            <a href="/pricing" class="btn btn-lg btn-default btn-block">Sign Up</a>
        </form>
    </div> 
    <p id="browser-check" class="well text-center m-t-xxl hidden"></p>
</div>
<% include copyright %>
<% include ../common/scripts %>
<script type="text/javascript">
    browserNotice(true, false);
</script>
<% include ../common/intercom_loggedout %>
<% include ../common/end %>