<% include ../common/metadata_start %>
<% include ../common/metadata_end %>

<div class="container w-xxl w-auto-xs">
    <% include logo %>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>&nbsp;</strong>
        </div>
        <div class="alert alert-<%= color %> text-center">
            <div><span><%- message %></span></div>
        </div>
        <div class="text-center m-t m-b"><a href="/auth">Sign In</a></div>       
    </div>
</div>

<% include copyright %>
<% include ../common/scripts %>
<% include ../common/intercom_loggedout %>
<% include ../common/end %>