<% include ../common/metadata_start %>
<% include ../common/metadata_end %>

<div class="container w-xxl w-auto-xs">
    <% include logo %>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Create an account in GlobalARC<br>with your details</strong>
        </div>
        <form method="POST" name="form" class="form-validation" id="form-register">
            <% if (message.length > 0) { %>  
                <div class="alert alert-<%=color %> text-center">
                    <div><span><%- message %></span></div>
                </div>                 
            <% } %>     
              
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="Name" class="form-control no-border" name="name" value="<%= params.name %>">
                </div>
                <div class="list-group-item">
                    <input placeholder="Company" class="form-control no-border" name="company" value="<%= params.company %>">
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" name="email" value="<%= params.email %>">
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" name="password" id="password" value="<%= params.password %>">
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm Password" class="form-control no-border" name="confirm_password" id="confirm_password">
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" required oninvalid="setCustomValidity('<%= params.checkboxMessage %>');" onchange ="setCustomValidity('');"><i></i> Agree to the <a href="/terms" class="text-info">terms</a> and <a href="/privacy" class="text-info">policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-info btn-block">Sign up</button>
        </form>        
        <div class="line line-dashed"></div>
        <div class="wrapper text-center"><strong>or sign up with</strong></div>
        <div class="text-center"><a href="/auth/google" class="btn btn-rounded btn-lg btn-danger"><i class="fa fa-fw fa-google"></i> Google</a></div>
        <div class="line line-dashed m-t-lg"></div>
        <p class="text-center"><small><strong>Already have an account?</strong></small></p>
        <a href="/auth" class="btn btn-lg btn-default btn-block">Sign in</a>
    </div> 
</div>

<% include copyright %>
<% include ../common/scripts %>
<% include ../common/intercom_loggedout %>
<% include ../common/end %>