<% include common/metadata_start %>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<% include common/metadata_end %>
<% include common/header %>
<% include common/sidebar %>

<div id="welcome" <% if(params.showWelcomeScreen == 0){%>class="hidden"<% } %>>
    <div class="wrapper-md">
        <div class="panel panel-default wrapper-md m-b-none m-t-none">
            <a class="btn-icon btn-lg close pull-left m-r-lg m-t-lg" onclick="closeWelcomePage();"><i class="icon-close"></i></a>
            <h2 class="m-n font-thin h3 text-center">Welcome to GlobalARC!</h2>
            <div class="clear"></div>
            <h4 class="m-t-md font-thin text-center">GlobalARC is simple and powerful UAV management solution that gives you safe and
                professional flight planning tools. These are the three key features:</h4>
            
            <div class="row m-t-xxl m-b-xxl">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p>1. Flight planning with airspace compliance map</p>
                    <img src="/assets/images/help/image1.jpg" class="w-full b"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p>2. Craft and personnel management</p>
                    <img src="/assets/images/help/image2.jpg" class="w-full b"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p>3. Real-time video and data stream from drones</p>
                    <img src="/assets/images/help/image3.jpg" class="w-full b"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" id="hideWelcomeForever">
                            <i></i>
                            Don't show this again
                        </label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a href="#" class="btn btn-info" onclick="startTour();">Take A Tour</a>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <p id="browser-check" class="text-center bg-light dker wrapper-sm m-n hidden"></p>
                <% include common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3"><%= params.header %></h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <div class="row">
                        <% if(params.projects.length > 0){ %>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel no-border">
                                <ul class="list-group list-group-lg m-b-none" id="tour-dashboard-projects-list">
                                    <% for(var i = 0; i < params.projects.length; i++){ %>
                                        <li class="list-group-item scroll-x scroll-y">
                                            <% if(params.projects[i].numOfFlightplans > 0){%>
                                                <p class="pull-left" style="margin-top:6px;"><span class="badge m-r-sm cursor" style="background:<%= params.projects[i].color %>" onclick="panToFlights(<%= params.projects[i].id %>);">&nbsp;</span><a href="/flightplans/all/<%= params.projects[i].id %>" class="text-info"><%= params.projects[i].name %></a></p>
                                                <span class="pull-right">
                                                    <a class="btn btn-info btn-addon" href="/flightplans/all/<%= params.projects[i].id %>"><i class="icon-magnifier"></i>All Flight Plans</a>
                                                </span>
                                            <% }else{ %>
                                                <p class="pull-left" style="margin-top:6px;"><span class="badge m-r-sm cursor" style="background:<%= params.projects[i].color %>" onclick="panToFlights(<%= params.projects[i].id %>);">&nbsp;</span><%= params.projects[i].name %></p>
                                                <span class="pull-right">
                                                    <a class="btn btn-success btn-addon" href="#" onclick="checkPlanFlightplans('/flightplans/add/<%= params.projects[i].id %>');"><i class="fa fa-plus"></i>Add Flight Plan</a>
                                                </span>
                                                
                                            <% } %>
                                            
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel hbox hbox-auto-xs no-border" id="tour-dashboard-map">
                                <div id="legend" style="display:none">
                                    <span href="#" class="pull-left m-r-md"><i class="fa fa-arrow-left"></i> Past Flights</span>
                                    <span href="#" class="pull-left m-r-md"><i class="fa fa-clock-o"></i> Live Flights</span>
                                    <span href="#" class="pull-left"><i class="fa fa-arrow-right"></i> Future Flights</span>
                                </div>
                                <div style="height:445px;" id="map">
                            </div>
                        </div>
                        <% }else{ %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel hbox hbox-auto-xs no-border" id="tour-dashboard-map">
                                <div id="legend" style="display:none">
                                    <span href="#" class="pull-left m-r-md"><i class="fa fa-arrow-left"></i> Past Flights</span>
                                    <span href="#" class="pull-left m-r-md"><i class="fa fa-clock-o"></i> Live Flights</span>
                                    <span href="#" class="pull-left"><i class="fa fa-arrow-right"></i> Future Flights</span>
                                </div>
                                <div style="height:445px;" id="map">
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div id="tour-dashboard-data">
                    <div class="panel panel-default">
                        <div class="panel-heading">Team</div>
                        <ul class="list-group list-group-lg m-b-none">
                            <% for(var i = 0; i < params.members.length; i++){ %>
                                <li class="list-group-item scroll-y">
                                    <span class="thumb-sm avatar pull-left m-r-md"><img src="<%= params.members[i].user_photo %>" ></span>
                                    <span class="pull-right badge bg-danger pull-right">&nbsp;</span>
                                    <a href="#"><%= params.members[i].name ||  params.members[i].google_display_name %></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Vehicles</div>
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Manufacturer</th>
                                    <th>Model</th>
                                    <th>Serial Number</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < params.vehicles.length; i++){ %>
                                <tr>
                                    <td><%= params.vehicles[i].name %></td>
                                    <td><%= params.vehicles[i].type %></td>
                                    <td><%= params.vehicles[i].manufacturer %></td>
                                    <td><%= params.vehicles[i].model %></td>
                                    <td><%= params.vehicles[i].serial_number %></td>
                                    <td><span class="label <%= params.vehicles[i].status_class %>"><%= params.vehicles[i].status_name %></span></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Batteries</div>
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Name</th>                                        
                                    <th>Serial Number</th>
                                    <th>Charge</th>
                                    <th>Voltage</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < params.batteries.length; i++){ %>
                                <tr>
                                    <td><%= params.batteries[i].name %></td>
                                    <td><%= params.batteries[i].serial_number %></td>
                                    <td><%= params.batteries[i].charge %></td>
                                    <td><%= params.batteries[i].voltage %></td>
                                    <td><span class="label <%= params.batteries[i].status_class %>"><%= params.batteries[i].status_name %></span></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Documents</div>
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Name</th>                                        
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Created By</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < params.documents.length; i++){ %>
                                <tr>
                                    <td><%= params.documents[i].name %></td>
                                    <td><%= params.documents[i].size %></td>
                                    <td><%= params.documents[i].document_type %></td>
                                    <td><%= params.documents[i].created_by %></td>
                                    <td><%= params.documents[i].modified %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
        <% include common/right %>
    </div>
</div>
<!-- /content -->
<% include common/footer %>
<% include common/scripts %>
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<script type="text/javascript">
    browserNotice(false, false);

    L.mapbox.accessToken = '<%= params.mapboxApiKey %>';
    var map = L.mapbox.map('map', 'mapbox.streets', {attributionControl: false, zoomControl: false}).setView([39.484965,-99.887695], 4);
    map.legendControl.addLegend(document.getElementById('legend').innerHTML);
    new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);

    var layers = {
      Streets: L.mapbox.tileLayer('mapbox.streets'),
      Satellite: L.mapbox.tileLayer('mapbox.satellite')
  };

  layers.Streets.addTo(map);
  L.control.layers(layers).addTo(map);

</script>   
<% if(params.hasMarkers == 1){%>
    <script type="text/javascript">
        var featureLayer = L.mapbox.featureLayer().addTo(map);
        
        featureLayer.on('layeradd', function(e) {
            var marker = e.layer,
            feature = marker.feature;
            marker.setIcon(L.divIcon(feature.properties.icon));
        });


        featureLayer.setGeoJSON(<%- params.markers %>);    
        map.fitBounds(featureLayer.getBounds());
        map.featureLayer.on('click', function(e) {
            map.panTo(e.layer.getLatLng());
        });
        
        function panToFlights(projectID){
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                cache: false,
                url: '/projects/get-locations/' + projectID,
                success: function (data) {
                    if (data.result == 'ok') {
                        fit(map, data.bounds.minX, data.bounds.minY, data.bounds.maxX, data.bounds.maxY);
                        
                    } else {
                        alert('Ooops! Something went wrong. Please, try again.');
                    }
                },
                error: function() {
                    alert('Ooops! Something went wrong. Please, try again.');
                }
            });
            
        }
    </script>
<% } %>
<% include common/intercom %>
<% include common/end %>