<% include common/metadata_start %>
<% include common/metadata_end %>
<% include common/header %>
<% include common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3"><%- params.header %></h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md" id="start">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">        
                        <h2 class="m-b-md font-thin h3">Quick Start Guide</h2>
                        <i class="icon  icon-arrow-right m-r-sm"></i><a href="#registration" class="text-info">Registration</a><br>
                        <i class="icon  icon-arrow-right m-r-sm"></i><a href="#dashboard" class="text-info">Dashboard</a><br>
                        <i class="icon  icon-arrow-right m-r-sm"></i><a href="#projects" class="text-info">Projects</a><br>
                        <i class="icon  icon-arrow-right m-r-sm"></i><a href="#flights" class="text-info">Flights</a><br>
                        <i class="icon  icon-arrow-right m-r-sm"></i><a href="#drone" class="text-info">Connecting to Your Drone</a><br>
                    </div>
                </div>
                <div class="wrapper-md" id="registration">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <h3 class="font-thin m-n">Registration</h3>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                                <a href="#start" class="text-info"><i class="fa fa-long-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/registration1.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <p>Create an account in GlobalARC with your details or sign up with Google </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" id="dashboard">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <h3 class="font-thin m-n">Dashboard</h3>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                                <a href="#start" class="text-info"><i class="fa fa-long-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/dashboard1.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <p>Your starter dashboard will show a sample project with a sample flight plan to help you get familiar with the interface.</p>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/dashboard2.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <p>It will also provide your remote UAV access code on the left and recent flights on the right.</p>
                                <p>Below, you will find all your team, vehicle, battery and documentation details. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" id="projects">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <h3 class="font-thin m-n">Projects</h3>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                                <a href="#start" class="text-info"><i class="fa fa-long-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/projects1.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin">Creating a new project</h4>
                                <p>Name your project and add your notes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" id="flights">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <h3 class="font-thin m-n">Flights</h3>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                                <a href="#start" class="text-info"><i class="fa fa-long-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/flights1.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin">Creating a new flight</h4>
                                <p>Each project can have multiple flight plans. </p>
                                <p>Click on the + button to plan a new flight.</p>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/flights2.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin">Creating a new flight</h4>
                                <p>1. Enter flight location name</p>
                                <p>2. Enter flight plan name</p>
                                <p>3. Set start and end time</p>
                                <p>4. Select your team</p>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/flights3.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin">Creating a new flight</h4>
                                <p>1. Select vehicle</p>
                                <p>2. Select batteries</p>
                                <p>3. Upload documents</p>
                                <p>4. Enter notes</p>
                            </div>
                        </div>
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/flights4.jpg" class="w-full b"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin">Flight monitoring</h4>
                                <p>1. Connect to your drone</p>
                                <p>2. Follow vehicles on the map</p>
                                <p>3. Watch live video from UAV</p>
                                <p>4. Communicate via chat</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" id="drone">
                    <div class="panel panel-default wrapper-md m-b-none m-t-none">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <h3 class="font-thin m-n">Connecting to Your Drone</h3>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                                <a href="#start" class="text-info"><i class="fa fa-long-arrow-up"></i></a>
                            </div>
                        </div>                        
                        <div class="row m-t-lg m-b-xxl">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <img src="/assets/images/help/andruav1.jpg" class="w-full"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <h4 class="font-thin text-center m-t-n m-b-md"><a href="https://play.google.com/store/apps/details?id=rcmobile.FPV&hl=en" target="_blank"><img src="/assets/images/help/andruav-logo.jpg"/><br>AndrUAV App</a></h4>
                                <p>Connect to your drone using the <a href="https://play.google.com/store/apps/details?id=rcmobile.FPV&hl=en" class="text-info" target="_blank">Andruav app</a></p>
                                <p>Use the provided Access code and connect to our servers</p>
                                <p>Your drone will appear on in teh flight section of GlobalARC and you can start streaming.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>
<!-- /content -->

<% include common/footer %>
<% include common/scripts %>

<script type="text/javascript">
    $('#aside').removeClass('hide');
    $('#aside-user').addClass('show');
</script>
<% include common/intercom %>
<% include common/end %>