<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3">TITLE</h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">

                </div>
            </div>
            <!-- / main -->
            <!-- right col -->
            <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
                <div class="wrapper-md">
                                       
                </div>
            </div>                       
        </div>
        <!-- / right col -->
    </div>
</div>
</div>
<!-- /content -->

<% include ../common/footer %>
<% include ../common/scripts %>
<% include ../common/intercom %>
<% include ../common/end %>