
/*@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/source_sans_pro/source_sans_pro_light_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/source_sans_pro/source_sans_pro_light_latin_extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/source_sans_pro/source_sans_pro_light_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/source_sans_pro/source_sans_pro_regular_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/source_sans_pro/source_sans_pro_regular_latin_extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/source_sans_pro/source_sans_pro_regular_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/source_sans_pro/source_sans_pro_bold_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/source_sans_pro/source_sans_pro_bold_latin_extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/source_sans_pro/source_sans_pro_bold_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

/*
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-300.eot');
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-300.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Light'),
       local('SourceSansPro-Light'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-300.woff2') format('woff2'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-300.woff') format('woff'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-300.ttf') format('truetype'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-300.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-regular.eot');
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('SourceSansPro-Regular'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-regular.woff') format('woff'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-700.eot');
  src: url('../fonts/sourcesanspro/Source-Sans-Pro-700.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Bold'),
       local('SourceSansPro-Bold'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-700.woff2') format('woff2'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-700.woff') format('woff'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-700.ttf') format('truetype'),
       url('../fonts/sourcesanspro/Source-Sans-Pro-700.svg#SourceSansPro') format('svg');
}
*/


@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/source_sans_pro/sourcesanspro-light-webfont.eot');
    src: url('../fonts/source_sans_pro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source_sans_pro/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/source_sans_pro/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/source_sans_pro/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/source_sans_pro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}