/* roles */

label.manager {
    background-color: #16AAD8;
}

label.pilot {
    background-color: #20AF42;
}

label.observer {
    background-color: #FCD417;
}

label.payload_operator {
    background-color: #F13636;
}

label.remote_observer {
    background-color: #d69a9a;
}


/* general */

.line-divider {
    height: 1px;
    border-bottom: 1px dashed #CFDADD;
    margin: 20px 0px 30px 0px;
    clear: both;
    overflow: hidden;
}

.dashed {
    height: 1px;
    border-bottom: 1px dashed #CFDADD;
    margin: 0px 0px 10px 0px;
}

.row.no-left-padding .form-group {
    padding-left: 0px;
}

a.close {
    position: absolute;
    top: 0px;
    right: 0px;
}


/* comments */

.streamline {
    min-height: 370px;
}


/* validation errors */

.form-group.has-error {
    position: relative;
}

label.error {
    position: absolute;
    right: 0px;
    color: #F13636;
    font-size: 13px;
    margin-top: 2px;
}

#start_time-error, #end_time-error {
    top: 35px;
}


/* DROPZONE */

#dropzone {
    cursor: pointer;
}

.text-purple {
    color: #8b65ba;
}


/* VIEW FLIGHTPLAN */

.tl-content {
    white-space: nowrap;
    width: 100%;
    /* IE6 needs any width */
    overflow: hidden;
    /* "overflow" value must be different from  visible"*/
    -o-text-overflow: ellipsis;
    /* Opera < 11*/
    text-overflow: ellipsis;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

button.button-change-avatar {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    vertical-align: middle;
}

button.button-change-avatar i {
    border: none;
    border-radius: 0;
    font-size: 20px;
    margin: 0;
    padding: 0;
    top: -1px;
    left: 5px;
}

button.button-delete-avatar {
    position: absolute;
    bottom: -10px;
    right: 0px;
    text-align: center;
    vertical-align: middle;
}

button.button-delete-avatar i {
    border: none;
    border-radius: 0;
    font-size: 20px;
    margin: 0;
    padding: 0;
    top: -1px;
    left: 6px;
}

.cropArea {
    background: #EEEEEE;
    border: 1px solid #CFDADD;
    overflow: hidden;
    width: 50%;
    height: 275px;
}

.cropped-area {
    overflow: hidden;
    width: 50%;
    height: 275px;
}

.cropped-area a {
    margin: 10px auto;
}

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden
}

img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

.p-t-sm {
    padding-top: 10px;
}

.light {
    color: #99abb5;
    font-size: 20px;
}

a.text-default-i, a.text-default-i:hover {
    color: #666 !important;
}

.timepicker-hours, .timepicker-minutes, .timepicker-seconds {
    display: block;
    margin: 30px auto 10px auto;
    width: 280px;
}

#starttime span.input-group-addon, #endtime span.input-group-addon {
    cursor: pointer;
}


/* AIR MAP */

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_line, .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_point {
    display: none !important;
}

#flight_location {
    position: relative;
    overflow: hidden;
}

#flight_location #map, #flight_location #map-image {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    border: 1px solid #cfdadd;
    border-radius: 2px;
}

#map-layers {
    position: absolute;
    overflow: hidden;
    bottom: 1px;
    right: -290px;
    z-index: 1;
    height: 500px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-property: right;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: linear;
}

#map-layers-button {
    background-color: #fff;
    font-size: 18px;
    display: block;
    padding: 6px 7px 6px 9px;
    float: left;
    margin-top: 10px;
    border-left: 1px solid #cfdadd;
    border-top: 1px solid #cfdadd;
    border-bottom: 1px solid #cfdadd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#map-layers ul {
    float: left;
    background: #FFF;
    height: 500px;
    margin: 0;
    padding: 0;
    width: 290px;
    padding-top: 8px;
    padding-left: 35px;
    border-left: 1px solid #edf1f2;
}

#map-layers li {
    list-style: none;
}

#map-layers li.title {
    font-weight: bold;
    margin-top: 5px;
}

#map-layers li a i {
    color: #D2D2D2;
}

#map-layers li a i.airmap {
    color: #16aad8;
}

#map-layers li a[data-layer="airports_recreational"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="airports_commercial"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="airports_recreational_private"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="airports_commercial_private"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="class_b"].active i {
    color: rgb(26, 116, 179);
}

#map-layers li a[data-layer="class_c"].active i {
    color: rgb(115, 108, 157)
}

#map-layers li a[data-layer="class_d"].active i {
    color: rgb(26, 116, 179);
}

#map-layers li a[data-layer="class_e0"].active i {
    color: rgb(26, 116, 179)
}

#map-layers li a[data-layer="sua_prohibited"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="sua_restricted"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="national_parks"].active i {
    color: rgb(224, 18, 18);
}

#map-layers li a[data-layer="noaa"].active i {
    color: rgb(224, 18, 18);
}

#map-layers li a[data-layer="hospitals"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="heliports"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="power_plants"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="parcels"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="schools"].active i {
    color: rgb(246, 165, 23);
}

#map-layers li a[data-layer="tfrs"].active i {
    color: rgb(244, 67, 54);
}

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

a#center-map {
    display: block;
    position: absolute;
    bottom: 12px;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 7px 11px;
    font-size: 18px;
}

a#center-map.left {
    left: 270px;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.marker-title {
    padding: 0px 10px 10px 10px;
}

.leaflet-popup-content {
    padding: 10px 0px;
}

.leaflet-popup-content .description {
    padding: 10px;
}

.leaflet-container .marker-description img {
    margin-bottom: 10px;
    margin-left: 3px;
    border: 1px solid #ddd;
}
.outer-marker {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: transparent;
}

.inner-marker {
    color: #FFF;
    font-size: 18px;
}

.inner-marker i {
    margin-top: 5px;
}

.inner-marker i.fa.fa-clock-o {
    margin-top: 6px;
}

.mapbox-logo {
    display: none !important;
}

#legend {
    position: absolute;
    z-index: 2;
    background: #FFF;
    bottom: 0;
    right: 0;
    padding: 4px 10px;
    overflow: hidden;
}

.badge.cursor {
    cursor: pointer;
}

.map-legends .map-legend {
    padding: 5px 10px;
    height: 28px;
}

.leaflet-popup-content .marker-title {
    overflow: hidden;
}

.leaflet-popup-content .marker-title i {
    margin-top: 3px;
}

#mapType {
    position: absolute;
    z-index: 3;
    top: 18px;
    left: 70px;
    background-color: #FFF;
}

#map-loader {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

#map-menu {
    position: absolute;
    top: 10px;
    right: 30px;
}

#map-menu input {
    margin-left: 10px;
}

#map-menu label {
    margin-right: 4px;
}

#welcome {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
}

#welcome > div {
    width: 80%;
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome .panel {
    border-radius: 10px;
}

.clear {
    clear: both;
}

.selectable-text {
    -webkit-user-select: text;
    /* Chrome all / Safari all */
    -moz-user-select: text;
    /* Firefox all */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
    /* Likely future */
}

.pointer {
    cursor: pointer;
}

.accesskey > li {
    margin: 0px 20px;
    pointer: default;
}

.accesskey > div {
    margin: 20px 20px;
    cursor: default;
}

.accesskey > div > span.ac-text {
    margin-left: 10px;
}

.accesskey > div > i {
    font-size: 16px;
}

.app-aside-folded .accesskey > div > span.ac-text {
    display: none;
}

.app-aside-folded .accesskey > div > span.ac-code {
    display: none;
}

.app-aside-folded .accesskey > div > i {
    font-size: 16px;
    display: block;
    height: 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .app-aside-folded .accesskey > div > i {
        display: inline-block;
        height: 20px;
    }
    .app-aside-folded .accesskey > div > span.ac-text {
        display: inline-block;
    }
    .app-aside-folded .accesskey > div > span.ac-code {
        display: block;
    }
}

.navbar-brand.text-lt {
    position: relative;
}

.hover-logo {
    position: absolute;
    background: #3A3F51;
    top: 0px;
    left: 60px;
    z-index: 1;
    width: 0px;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    text-align:left;
    overflow: hidden;
}


.tree ul, .tree ul li{
    list-style: none;
}
.tree ul{
    padding-left:0px;
}
.tree ul li input[type=checkbox], .tree ul li input[type=radio]{
    margin-right:5px;
}

.dataTable tr.archived-row td{
    background-color:#d2d2d2 !important;
}