body {
    background-color: #d0e4fe;
    overflow: visibile;
    margin:0;
}

body.no-zoom {
    zoom: 1;
}

.header {
    height: 40px;
	font: bold 16px arial, helvetica, sans-serif;
	text-align:center;
	text-transform: uppercase;
}


.mainBody {
    position: absolute;
    top: 40px;
    bottom: 20px;
    width:100%;
}

.footer {
    height: 20px;
    
    position: absolute;
    bottom: 0;
    width:100%;
}

h1 {
    color: orange;
    text-align: center;
}
p {
    font-family: "Times New Roman";
    font-size: 20px;
}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}




div.mainblock
{
	background-color: white;
	padding-bottom: 5px;
	padding-right: 5px;
	float: left;
	top: 0px;
	height: 100%;
	position: relative;
   
	overflow: auto;
}


div.subblock
{
	background-color: aliceblue;
	margin: 2px 2px 2px 2px;
	padding: 1px;
	top: 0px;
	position: relative;
	font: bold 13px arial, helvetica, sans-serif;
	
	width: 100%;
}

div.blocktitle
{
	display:block;
	text-align:center;
	background-color: white;
	
	border-bottom:black;
	border-bottom-width=1;
	
	text-transform: uppercase;
	
	
}

div.blockfield
{
	display:block;
	padding: 2px 1px 5px 2px;
	
	color: steelblue;
	background-color: white;
	
}

div.blockfield.spacer
{
	minwidth: 10px;
}

div.blockfield p {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    display:inline;
}

div.blockfield input[type=text] 
{
	
}




disabled
{
	color: lightslategrey;
}

div.blocktitle_style1
{
	color: lightseagreen;
	background-color: navajowhite;
}

highlighted
{
	background-color: mediumspringgreen;
}
highlighted2
{
	background-color: gold;
}


button
{
	min-width: 150px;
}

label.error
{
	margin: 0px 0px 0px 2px;
    font: 11px arial, helvetica, sans-serif;
    font-style: italic;
    color: crimson;
   
}


/***
 * Styles of Monitor Log COntrol
 */

div.monitorview
{
	display:block;
	height:500px;
	width:800px;
	overflow:auto;
}

div#monitorlog
{
}

div#map_view
{
	overflow:hidden;
}

div#map
{
	height:800px;
}
div.log_ctrl
{
	display:  block;
	color: crimson;
}

div.log_error
{
	display:  block;
	color: crimson;
}

div.log_rx_msg
{
	display:  block;
	color: forestgreen;
	
}

div.log_tx_msg
{
	display:  block;
	color: dodgerblue;
	
}

.log_log_ctrl
{
	display:  block;
	color: gray;
	font-style: italic;
	
}

 #map 
 {
	height: 100%;
 }
 
 #unitImg
 {
	float: left;
	background-color:dodgerblue;
	padding: 2px;
	height: 244px;
	width: 344px;
 }
 
 #unitVideo
 {
	float: left;
	background-color:lightseagreen;
	padding: 2px;
	height: 244px;
	width: 344px;
 }

/*******************EO MONITOR LOG *****/


/***************ANDUAV STYLES******************/
.IsGCS_false
{
	
}

.IsGCS_true
{
	font: bold 13px arial, helvetica, sans-serif;
	color: forestgreen;
}


/**** Unit is active ****/

.unitname
{
	font: bold 13px arial, helvetica, sans-serif;
}


/*** used when unit is connected / disconnected ****/

.IsShutdown_false
{
	color: dodgerblue;
	
}

/**** Unit is active ****/
.IsShutdown_true
{
	color: gray;
	font-style: italic;
	pointer-events:none;
}




tr.IsShutdown_false td.recvideo.IsGCS_false.run img  
{
	content:url('./../images/video_recording_active_32x32.png');
}


tr.IsShutdown_false td.recvideo.IsGCS_false.ready img  
{
	content:url('./../images/video_recording_enabled_32x32.png');
}

tr.IsShutdown_true td.recvideo
{
	cursor: inherit;
}


tr.IsShutdown_false td.recvideo.IsGCS_false
{
	cursor: pointer;
}

tr.IsShutdown_false td.recvideo.IsGCS_true img  
{
	content:url('./../images/video_recording_disabled_32x32.png');
}

tr.IsShutdown_true td.recvideo img  
{
	content:url('./../images/video_recording_disabled_32x32.png');
}


tr.IsShutdown_false td.video.IsGCS_false.run img  
{
	content:url('./../images/videocam_active_32x32.png');
}


tr.IsShutdown_false td.video.IsGCS_false.ready img  
{
	content:url('./../images/videocam_gb_32x32.png');
}

tr.IsShutdown_true td.video
{
	cursor: inherit;
}

tr.IsShutdown_true td.video img  
{
	content:url('./../images/videocam_gr_32x32.png');
}

td.video.IsGCS_true
{
	cursor: inherit;
}

td.video.IsGCS_true img  
{
	content:url('./../images/videocam_gr_32x32.png');
}

tr.IsShutdown_false td.video.IsGCS_false
{
	cursor: pointer;
}




tr.IsShutdown_false td.gcs.IsGCS_true img 
{
	content:url('./../images/gcs_b_32x32.png');
}

tr.IsShutdown_false td.gcs.IsGCS_false img 
{
	content:url('./../images/plane_b_32x32.png');
}

tr.IsShutdown_true td.gcs.IsGCS_true img 
{
	content:url('./../images/gcs_gr_32x32.png');
}

tr.IsShutdown_true td.gcs.IsGCS_false img 
{
	content:url('./../images/plane_gr_32x32.png');
}


tr.IsShutdown_false td.camera.IsGCS_false img  
{
	content:url('./../images/camera_bg_32x32.png');
}
tr.IsShutdown_true td.camera
{
	cursor: inherit;
}

tr.IsShutdown_true td.camera img  
{
	content:url('./../images/camera_gy_32x32.png');
}

tr.IsShutdown_false td.battery
{
	content:url('./../images/battery_gy_32x32.png');
}

tr.IsShutdown_true td.battery
{
	content:url('./../images/battery_gy_32x32.png');
}


tr.IsShutdown_false td.battery.bat_4
{
	content:url('./../images/battery_g_32x32.png');
}

tr.IsShutdown_false td.battery.bat_3
{
	content:url('./../images/battery_rg_32x32.png');
}

tr.IsShutdown_false td.battery.bat_2
{
	content:url('./../images/battery_rg_3_32x32.png');
}

tr.IsShutdown_false td.battery.bat_1
{
	content:url('./../images/battery_r_32x32.png');
}

tr.IsShutdown_false td.battery.Charging
{
	content:url('./../images/battery_bg_32x32.png');
}

td.camera.IsGCS_true
{
	cursor: inherit;
}

td.camera.IsGCS_true img  
{
	content:url('./../images/camera_gy_32x32.png');
}

tr.IsShutdown_false td.camera.IsGCS_false
{
	cursor: pointer;
}


