html, .app:before, .off-screen + *, .bg {
    background-color: #FFFFFF;
}

.app.container {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse, .app-content, .app-footer {
    margin-left: 0px;
}

.navbar-nav > li > a > span {
    padding-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

h1 {
    font-size: 35px;
    margin: 40px 0px 10px 0px;
    text-align: center;
}

h2.subtitle {
    font-size: 25px;
    margin: 10px 0px 40px 0px;
    text-align: center;
}

h4 {
    line-height: 1.3em;
}

h3 {
    font-size: 27px;
}

.nav > li > a.no-hover:hover, .nav > li > a.no-hover:focus {
    background-color: #FFF;
}

.signup-form {
    padding-bottom: 60px;
}

#content {
    margin: 0 auto;
}

#header > div > ul {
    border-bottom: 1px solid #DEE5E7;
}

.navbar-brand img {
    max-height: inherit;
    margin-top: -6px;
}

#mac {
    background-image: url("../images/mac.jpg");
    background-repeat: no-repeat;
}

#video {
    display: none;
    margin-top: 36px;
    margin-left: 135px;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0px 0px 0px -10px;
    }
    .navbar-collapse {
        padding-left: 20px;
        padding-right: 0px;
    }
    .nav.navbar-nav li.pull-right {
        float: none !important;
    }
    .col-xs-12 {
        margin: 10px 0px;
    }
}

.error {
    color: #f05050;
}

.well, pre {
    background-color: #FDFDFD;
    border-color: #dee5e7;
}
.terms{
    line-height: 1.5em;
}
.terms ul{
    list-style: none;
}
#footer{
    overflow: hidden;
}
#footer a{
    display:inline-block;
    margin-right:20px;
    text-transform:uppercase;
}

#footer a:hover{
    color:#23b7e5;
}

@media (max-width: 767px) {
    .app-content-body {
        padding-bottom: 150px;
    }
}

#pricing-loader i{
    font-size:20px;
    margin-top:18px;
    visibility:hidden;
}