<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">Member Info</div>
    <div class="panel-body">
        <form method="POST" name="form" class="form-validation" id="team-form">
            <input type="hidden" name="vehicle" value="1">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter team member name" required value="<%= params.name %>">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter team member email" value="<%= params.email %>">
            </div>
            <div class="form-group">
                <label>Permission</label>
                <select name="permission_id" class="form-control">
                    <option value="2" <% if(params.permission == 1){%> selected="selected" <% } %>>Editor</option>
                    <option value="3" <% if(params.permission == 2){%> selected="selected" <% } %>>Viewer</option>
                </select>
            </div>
            <div class="submit-container">
                <button type="submit" class="btn btn-default btn-info">Send Invitation</button>
            </div>
        </form>
    </div>
</div>