<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">Team Members</div>
    <div class="panel-body">
        <ul class="list-group list-group-lg m-b-none">
                <li class="list-group-item" style="padding-bottom:35px;">
                    <span class="pull-left"><img src="images/a1.jpg" width="50"/></span>
                    <span class="pull-right badge bg-danger pull-right">&nbsp;</span>
                    <a href="project.html" class="text-lg" style="padding-left:20px;">Ivan Stamatovski</a>
                </li>
            </ul>
    </div>
</div>