<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%= params.header %></h1>
                            <a href="#" onclick="checkPlanUsers('/team/add');"  class="btn m-b-xs btn-info btn-addon pull-right"><i class="fa fa-plus" ></i>Invite New Member</a>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-<%= color %>" id="message">
                        <button type="button" class="close" onclick="closeMessage();">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <div><span><%- message %></span></div>
                    </div>
                    <% } %>
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <% if(params.permission == 1){%>
                            <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                    aaData: <%= params.data %>,
                                    aoColumns: [
                                        { mData: 'photo', 'sClass': 'text-center', 'bSortable': false},
                                        { mData: 'name' },
                                        { mData: 'email' },
                                        { mData: 'mobile' },
                                        { mData: 'permission', 'sClass': 'text-center' },
                                        { mData: 'status', 'sClass': 'text-center' },
                                        { mData: 'activate', 'sClass': 'text-center activate-button' },
                                        { mData: 'delete', 'sClass': 'text-center delete-button' }
                                    ],
                                    aaSorting: [[4,'asc'], [5,'desc']],
                                    aoColumnDefs: [{aTargets:[5], fnCreatedCell: function(nTd, sData, oData, iRow, iCol){
                                        if(sData.indexOf('Archived')!= -1){
                                            var $row = $(nTd).parent();
                                            $row.addClass('archived-row');
                                        }
                                    }, 
                                    }]
                                }">
                                <thead>
                                    <tr>
                                        <th width="70">Photo</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th width="10%">Permission</th>
                                        <th width="10%">Status</th>
                                        <th width="10%">Activate</th>
                                        <th width="10%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <% } %>
                            <% if(params.permission != 1){%>
                            <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                    aaData: <%= params.data %>,
                                    aoColumns: [
                                        { mData: 'photo', 'sClass': 'text-center', 'bSortable': false},
                                        { mData: 'name' },
                                        { mData: 'email' },
                                        { mData: 'mobile' },
                                        { mData: 'permission', 'sClass': 'text-center' },
                                        { mData: 'status', 'sClass': 'text-center' }
                                    ],
                                    aaSorting: [[4,'asc'], [5,'desc']],
                                    aoColumnDefs: [{aTargets:[5], fnCreatedCell: function(nTd, sData, oData, iRow, iCol){
                                        if(sData.indexOf('Archived')!= -1){
                                            var $row = $(nTd).parent();
                                            $row.addClass('archived-row');
                                        }
                                    }, 
                                    }]
                                }">
                                <thead>
                                    <tr>
                                        <th width="70">Photo</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th width="10%">Permission</th>
                                        <th width="10%">Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->
<!-- delete popup -->
<div id="modal-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Company Member</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this company member?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" id="modal-delete-button">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- activate popup -->
<div id="modal-activate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activate Company Member</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to activate this company member?</p>
            </div>
            <div class="modal-footer">
                <div id="users-message" class="pull-left m-t-sm m-l-sm"></div>
                <a class="btn btn-info" id="modal-activate-button">Activate</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<% include ../common/footer %>
<% include ../common/scripts %>
<% include ../common/intercom %>
<% include ../common/end %>