<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%- params.header %></h1>
                        </div>

                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-<%= color %>" id="message">
                        <button type="button" class="close" onclick="closeMessage();">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <div><span><%- message %></span></div>
                    </div>
                    <% } %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="clearfix text-center m-t b-b b-light">
                                <div class="inline">
                                    <div class="thumb-lg"><img src="<%= params.photo %>" class="img-circle"></div>
                                    <div class="h4 m-t m-b-xs"><%= params.name %></div>
                                    <% if(params.permission.length > 0) {%>
                                    <span class="label <%= params.permission_class %>" ><%= params.permission %></span>
                                    <% } %>
                                    <br><br>
                                    <% if(params.mobile != undefined && params.mobile.length > 0) {%>
                                    <div class="text-muted m-b"><a href="tel:<%= params.mobile %>"><%= params.mobile %></a></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="table-responsive m-t-lg">
                                <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                        aaData: <%= params.flightplans %>,
                                        aoColumns: [
                                            { mData: 'name' },
                                            { mData: 'role', 'sClass': 'text-center' },
                                            { mData: 'unit_id', 'sClass': 'text-center' },
                                            { mData: 'start_time', 'sClass': 'text-center' },
                                            { mData: 'end_time', 'sClass': 'text-center' },
                                        ]
                                    }">
                                    <thead>
                                        <tr>
                                            <th>Flight Plan</th>
                                            <th width="20%">Role</th>
                                            <th width="20%">Unit ID</th>
                                            <th width="20%">Start</th>
                                            <th width="20%">End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- / main -->
        <% include ../common/right %>
        </div>
    </div>
</div>
<!-- /content -->

<% include ../common/footer %>
<% include ../common/scripts %>
<% include ../common/intercom %>
<% include ../common/end %>