<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3">Profile</h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-<%= color %>" id="message">
                            <button type="button" class="close" onclick="closeMessage();">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div><span><%- message %></span></div>
                        </div>
                    <% } %>
                    
                    <div class="row">
                        <!-- GLOBAL INFO -->
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="pull-left">
                                        <h3 class="text-info m-t-none">Basic Info</h3>
                                        <form method="POST" class="form-validation" id="form-profile-basic-info">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input type="tel" name="mobile" id="mobile" class="form-control" placeholder="Enter mobile phone" value="<% if (params.args.mobile != undefined && params.args.mobile != '' && params.args.mobile != 'null') { %><%= params.args.mobile %><% } %>">
                                            </div>
                                            <a href="#" class="btn btn-info btn-md" onclick="submitProfileBasicInfoForm();">Save</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <!-- LOCAL -->
                        <div class="col-sm-6">
                            <div class="panel panel-default m-b-none">
                                <div class="panel-body">
                                    <div class="pull-left">
                                        <h3 class="text-info m-t-none">Local</h3>
                                        <% if (params.args.email != undefined && params.args.email != '' && params.args.email != 'null') { %>
                                            <p>  
                                                <strong>Name</strong>: <%= params.args.name %><br>
                                                <strong>Email</strong>: <%= params.args.email %><br>
                                            </p>
                                            <a href="#" class="btn btn-info btn-md" ui-toggle-class="show" target="#local-form">Edit</a>
                                            <% if (params.args.google_token != undefined && params.args.google_token != '' && params.args.google_token != 'null') { %>
                                            <a href="/user/unlink/local" class="btn btn-info btn-md">Unlink Local Account</a>
                                            <% } %>
                                        <% } else { %>
                                            <a href="#" class="btn btn-info btn-md" ui-toggle-class="show" target="#local-form">Connect Local Account</a>
                                        <% } %>
                                    </div>
                                    <div class="pull-right">
                                        <div class="thumb-lg w-auto-folded avatar m-t-sm pull-right">
                                            <a class="thumb-lg avatar m-t-sm pull-right avatar-link" data-toggle="modal" data-target="#modal-change-avatar">
                                                <img src="<%= params.args.photo %>" id="currentImage">
                                            </a>
                                            <button class="btn btn-sm btn-icon btn-info button-change-avatar"  data-toggle="modal" data-target="#modal-change-avatar"><i class="fa fa-pencil"></i></button>
                                            
                                            <button class="btn btn-sm btn-icon btn-info button-delete-avatar <% if (params.showDeleteAvatarButton == 0) { %>hidden<% } %>"  data-toggle="modal" data-target="#modal-delete-avatar"><i class="fa fa-trash"></i></button>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="clear-both"></div>
                                    <div id="local-form" class="m-t-lg <% if(params.args.open != 1){ %> hide <% } %>">                                     
                                        <form method="POST" class="form-validation" id="form-profile">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required value="<% if (params.args.name != undefined && params.args.name != '' && params.args.name != 'null') { %><%= params.args.name %><% } %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required value="<% if (params.args.email != undefined && params.args.email != '' && params.args.email != 'null') { %><%= params.args.email %><% } %>">
                                            </div>
                                            
                                            <% if(params.args.email != undefined && params.args.email != '' && params.args.email != 'null'){%>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="<% if (params.args.password != undefined && params.args.password != '' && params.args.password != 'null') { %><%= params.args.password %><% } %>" onchange="validatePassword();">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password" value="<% if (params.args.confirm_password != undefined && params.args.confirm_password != '' && params.args.confirm_password != 'null') { %><%= params.args.confirm_password %><% } %>" onkeyup="validatePassword();">
                                            </div>
                                            <%  }else{ %>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="<% if (params.args.password != undefined && params.args.password != '' && params.args.password != 'null') { %><%= params.args.password %><% } %>" required onchange="validatePassword();">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password" required value="<% if (params.args.confirm_password != undefined && params.args.confirm_password != '' && params.args.confirm_password != 'null') { %><%= params.args.confirm_password %><% } %>" onkeyup="validatePassword();">
                                            </div>
                                            <%  } %>
                                            <a href="#" class="btn btn-info btn-md" onclick="submitProfileForm();">Save</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GOOGLE -->
                        <div class="col-sm-6">
                            <div class="panel panel-default m-b-none">
                                <div class="panel-body">
                                    <div class="pull-left">
                                        <h3 class="text-danger m-t-none">Google</h3>
                                        
                                        <% if (params.args.google_token != undefined && params.args.google_token != '' && params.args.google_token != 'null') { %>
                                            <p>  
                                                <strong>Name</strong>: <%= params.args.google_display_name %><br>
                                                <strong>Email</strong>: <%= params.args.google_email %>
                                            </p>
                                            <% if (params.args.email != undefined && params.args.email != '' && params.args.email != 'null') { %>
                                            <a href="/user/unlink/google" class="btn btn-danger">Unlink Google Account</a>
                                            <% } %>
                                        <% } else { %>
                                            <a href="/user/connect/google" class="btn btn-danger">Connect Google Account</a>
                                        <% } %>
                                    </div>
                                    <div class="pull-right">
                                        <div class="thumb-lg avatar m-t-sm pull-right"><img src="<%= params.args.google_photo %>" class="thumb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>
<!-- /content -->

<!-- change avatar popup -->
<div id="modal-change-avatar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default m-b-none">
            <div class="panel-heading font-bold">Change Photo</div>
            <div class="panel-body">
                <div class="wrapper-md" ng-controller="Ctrl">
                    <div class="m-b-md">
                        <div class="form-group">
                            <input ui-jq="filestyle" id="fileInput" name="fileInput" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" data-buttonText="Choose file">
                        </div>
                    </div>
                    <div class="cropArea b-t pull-left hide">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div class="cropped-area text-center pull-left hide">
                        <div class="thumb-lg avatar b-a m-t-xl m-b-sm"><img ng-src="{{myCroppedImage}}" /></div>
                        <a class="btn btn-success w-xs btn-block" href="#" id="saveCroppedImage">Save</a>
                        <div id="avatar-loader" class="m-t-lg hide"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                        <p id="avatar-message" class="m-t-md"></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn-icon btn-lg close pull-left" data-dismiss="modal" id="dismissModal"><i class="icon-close"></i></a>
    </div>
</div>

<!-- delete avatar popup -->
<div id="modal-delete-avatar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Avatar</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this avatar?</p>
            </div>
            <p id="delete-avatar-message" class="m-t-md"></p>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" id="modal-delete-avatar">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<% include ../common/footer %>
<% include ../common/scripts %>
<script type="text/javascript">
$('#aside').removeClass('hide');
$('#aside-user').addClass('show');
</script>

<script src="/assets/js/angular/angular.min.js"></script>
<script src="/assets/js/angular/ng-img-crop.js"></script>
<script>
    angular.module('app', ['ngImgCrop'])
        .controller('Ctrl', function($scope) {
            $scope.myImage='';
            $scope.myCroppedImage='';
            var blob;
            
            var handleFileSelect = function(evt) {
                var file = evt.currentTarget.files[0];

                var reader = new FileReader();
                reader.onload = function (evt) {
                    $scope.$apply(function($scope){
                        $scope.myImage = evt.target.result;
                        angular.element('.cropArea').removeClass('hide');
                        angular.element('.cropped-area').removeClass('hide');
                    });
                };
                reader.readAsDataURL(file);
                blob = dataURItoBlob($scope.myCroppedImage);
                
            };
            
            var saveFile = function(){
            angular.element('#avatar-loader').removeClass('hide');
            
            var image = $scope.myImage;
            var data = image.replace(/^data:image\/\w+;base64,/, '');
                            
            $.ajax({
                url: '/user/avatar/add',
                data: {
                    image: $scope.myCroppedImage
                },
                type: 'POST',
                success: function(response) {
                    angular.element('#avatar-loader').addClass('hide');
                    if(response.result == 'ok'){
                        $('#avatar-message').addClass('text-success');
                        $('#avatar-message').html('You successfully changed your avatar.');
                        $('#currentImage').attr('src', response.image);
                        $('#userPhoto').attr('src', response.image);
                        $('.button-delete-avatar').removeClass('hidden');
                        setTimeout(function(){
                            $('#dismissModal').trigger('click');
                        }, 2500);
                        
                        setTimeout(function(){
                            angular.element('#avatar-loader').addClass('hide');
                            $('.cropArea').addClass('hide');
                            $('.cropped-area').addClass('hide');
                            $('#avatar-message').html('');
                        }, 2600);
                    }else if(response.result == 'error'){
                        $('#avatar-message').addClass('text-danger');
                        $('#avatar-message').html('Something went wrong. Please, try again.');
                    }                        
                },
                error: function() {
                    angular.element('#avatar-loader').addClass('hide');
                    alert('File NOT uploaded');
                }
            });

        }
        angular.element(document.querySelector('input[type=file]')).on('change',handleFileSelect);
        angular.element(document.querySelector('#saveCroppedImage')).on('click',saveFile);
    });
    
    $('#modal-delete-avatar').on('click', function(){
        $.ajax({
            url: '/user/avatar/delete',
            type: 'POST',
            success: function(data) {
                var response = JSON.parse(data);
                if(response.result == 'ok'){
                    $('#currentImage').attr('src', '/assets/images/avatar.png');
                    $('#userPhoto').attr('src', '/assets/images/avatar.png');
                    $('.button-delete-avatar').addClass('hidden');
                }                       
            },
            error: function() {
            }
        });
    });
</script>
<% include ../common/intercom %>
<% include ../common/end %>