<% include ../common/metadata_start %>
<link type="text/css" rel="stylesheet" href="/assets/js/jquery/tree/style.css" />
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3">Settings</h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-<%= color %>" id="message">
                        <button type="button" class="close" onclick="closeMessage();">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <div><span><%- message %></span></div>
                    </div>
                    <% } %>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Company Plan </div>
                            <div class="panel-body">
                                <% if(params.companyPlan == 'free'){%>
                                
                                    <div class="text-center bg-success no-border wrapper">
                                        <span class="text-u-c m-b-none font-bold">Free</span>          
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-7 no-padder">
                                            <p class="font-bold m-t-lg">Available Features</p>
                                            <ul class="list-group m-t-sm no-borders ">
                                                <% include ../common/plan_free %>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 no-padder">
                                            <% include ../common/plan_used %>
                                        </div>
                                    </div>
                                    <div class="text-center wrapper">
                                        <button class="btn btn-info font-bold m-r-sm m-t-sm" id="stripeButton">Upgrade to Professional Plan &nbsp;&nbsp;<i class="fa fa-chevron-up"></i></button>
                                        <button class="btn btn-danger font-bold m-r-sm m-t-sm" data-toggle="modal" data-target="#modal-pro">Upgrade to Enterprise Plan &nbsp;&nbsp;<i class="fa fa-chevron-up"></i></button>
                                    </div>
                                    
                                <% }%>
                                <% if(params.companyPlan == 'professional'){%>
                                    <div class="text-center bg-info no-border wrapper">
                                        <span class="text-u-c m-b-none font-bold">Professional</span>  
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-7 no-padder">
                                            <p class="font-bold m-t-lg">Available Features</p>
                                            <ul class="list-group m-t-sm no-borders ">
                                                <% include ../common/plan_professional %>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 no-padder">
                                            <% include ../common/plan_used %>
                                        </div>
                                    </div>
                                    <div class="text-center wrapper">
                                        <button class="btn btn-success font-bold m-r-sm m-t-sm" onclick="openDowngradeModal('free');">Downgrade to Free Plan &nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
                                        <button class="btn btn-danger font-bold m-r-sm m-t-sm" data-toggle="modal" data-target="#modal-pro">Upgrade to Enterprise Plan &nbsp;&nbsp;<i class="fa fa-chevron-up"></i></button>
                                        
                                    </div>
                                    
                                <% } %>
                                <% if(params.companyPlan == 'enterprise'){%>
                                    <div class="text-center bg-info no-border wrapper">
                                        <span class="text-u-c m-b-none font-bold">Enterprise</span>  
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-7 no-padder">
                                            <p class="font-bold m-t-lg">Available Features</p>
                                            <ul class="list-group  m-t-sm no-borders ">
                                                <% include ../common/plan_enterprise %>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 no-padder">
                                            <% include ../common/plan_used_unlimited %>
                                        </div>
                                    </div>
                                    <div class="text-center wrapper">
                                        <button class="btn btn-success font-bold m-r-sm m-t-sm" onclick="openDowngradeModal('free');">Downgrade to Free Plan &nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
                                        <button class="btn btn-info font-bold m-r-sm m-t-sm" onclick="openDowngradeModal('professional');">Downgrade to Professional Plan &nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
                                        
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form method="POST" name="form" class="form-validation" id="form-settings">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">Company Info</div>
                                <div class="panel-body" style="overflow:hidden;">
                                    <input type="hidden" name="access_code_hidden" value="<%= params.accessCode %>">
                                    <div class="form-group" style="float:left;">
                                        <label>Name</label><br>
                                        <input type="text" name="name" class="form-control" placeholder="Enter company name" required value="<%= params.companyName%>"  style="width:200px;" >
                                    </div>
                                    <a href="#" class="btn btn-info btn-md m-l-md" onclick="submitSettingsForm();" style="float:left; margin-top:25px;">Save</a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">Access Code</div>
                                <div class="panel-body">
                                    <div class="form-group" style="overflow:hidden;">
                                        <label>Access Code</label><br>
                                        <input type="text" disabled name="access_code" class="form-control m-r-md" style="width:200px; float:left;" placeholder="Access Code" required value="<%= params.accessCode%>">
                                        <a href="#" class="btn btn-info btn-md" onclick="generateNewAccessCode();" style="float:left;">Generate New</a>
                                        <div id="loader" class="m-l-sm m-t-xs hidden" style="display:inline-block;"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                                    </div>                                
                                </div>
                            </div>

                        </form>
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Delete Account</div>
                            <div class="panel-body">
                                <button class="btn btn-danger font-bold m-r-sm m-t-sm" data-toggle="modal" data-target="#modal-delete">Delete &nbsp;&nbsp;<i class="fa fa-trash-o"></i></button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>
<!-- /content -->
<!-- free popup -->
<div id="modal-free" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Downgrade to Free Plan</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert">
                    <h4>Here are a few things you should know:</h4>
                    <p class="m-t-lg">If you downgrade to Free Plan, all your users (except Admin) will be archived (If you wish to subscribe again to one of our paying plans you can activate them again).</p>
                    <div id="free-has-projects">
                        <p>You can choose <span class="font-bold"><%= params.plans.free.projects %></span> project and <span class="font-bold"><%= params.plans.free.flights %></span> flight plans from selected project you want to save. </p>
                        <br>
                        <div class="well">
                            <div id="freeProjects"></div>
                            <div id="freeFlightplans"></div>
                        </div>
                        <br>
                        <p>All other projects, flights and their locations, equipment and documents will be deleted permanently. </p>
                        
                    </div>
                </div>
                <p class="m-t-sm m-l-sm">If you wish, you can download all your documents before you downgrade your account.</p>
                <a href="#" class="btn btn-info btn-md m-t-sm m-b-sm m-l-sm" onclick="downloadDocuments(true);" >Download All Documents</a>
                <span class="download-loader m-l-sm m-t-xs hidden">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </span>
                <p class="m-l-sm download-message"></p>
            </div>
            <div class="modal-footer">
                <div id="downgrade-free-loader" class="pull-left m-t-sm m-l-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                <div id="downgrade-free-message" class="pull-left m-t-sm m-l-sm"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="downgrade-free-close-button">Cancel</button>
                <a href="#" class="btn btn-danger pull-right m-l-sm" onclick="downgrade('free');" id="downgrade-free-submit-button">Downgrade </a>
            </div>
        </div>
    </div>
</div>
<!-- professional popup -->
<div id="modal-professional" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Downgrade to Professional Plan</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert">
                    <h4>Here are a few things you should know:</h4>
                    <p class="m-t-lg">If you downgrade to Professional Plan, you can select <span class="font-bold">4 users (+ Admin)</span> that will not be archived (If you wish to subscribe again to Enterprise Plan you can activate all your users again).</p>
                    
                    <div class="well m-t-sm">
                        <div id="professionalUsers"></div>
                    </div>

                    <div id="professional-has-projects">
                        <p class="m-t-lg">You can choose <span class="font-bold"><%= params.plans.professional.projects %></span> projects and <span class="font-bold"><%= params.plans.professional.flights %></span> flight plans from selected projects you want to save. </p>
                        <div class="well m-t-sm">
                            <div id="professionalProjects"></div>
                            <div id="professionalFlightplans"></div>
                        </div>
                        <br>
                        <p>All other projects, flights and their locations, equipment and documents will be deleted permanently. </p>
                    </div>
                   
                    <p class="m-t-sm">If you wish, you can download all your documents before you downgrade your account.</p>

                    <a href="#" class="btn btn-info btn-md m-t-sm m-b-sm" onclick="downloadDocuments(true);" >Download All Documents</a>
                    <span class="download-loader m-l-sm m-t-xs hidden">
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    </span>
                    <p class="download-message"></p>
                </div>
                
            </div>
            <div class="modal-footer">
                <div id="downgrade-professional-loader" class="pull-left m-t-sm m-l-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                <div id="downgrade-professional-message" class="pull-left m-t-sm m-l-sm"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="downgrade-professional-close-button">Cancel</button>
                <a href="#" class="btn btn-danger pull-right m-l-sm" onclick="downgrade('professional');" id="downgrade-professional-submit-button">Downgrade </a>
            </div>
        </div>

    </div>
</div>
<!-- pro popup -->
<div id="modal-pro" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request a Call</h4>
            </div>
            <form name="form" class="form-validation" id="requestCallForm">
                <div class="modal-body">
                    <div class="alert hidden" id="alert">
                        <div class="text-center"><span id="message"></span></div>
                    </div>
                    
                    <div class="form-group hidethis">
                        <label>Name</label>
                        <input class="form-control" name="name" id="name" required type="text">
                    </div>
                    <div class="form-group hidethis">
                        <label>Email</label>
                        <input class="form-control" name="email" id="email" required type="email">
                    </div>
                    <div class="form-group hidethis">
                        <label>Mobile Phone</label>
                        <input class="form-control intlphone" name="phone" id="phone" required type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-button">Cancel</button>
                    <a href="#" class="btn btn-info pull-right m-l-sm" onclick="submitRequestCallForm();" id="send-button">Send Request </a>
                    <div id="loader" class="pull-right m-t-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- delete popup -->
<div id="modal-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Account</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert">
                    All your projects, flight plans, equipment and personnel will be deleted permanently. Also, your subscription (if you had one) will be canceled immediately. <br><br> Are you sure you want to do this?
                </div>
            </div>
            <div class="modal-footer">
                <div id="delete-loader" class="pull-left m-t-sm m-l-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                <div id="delete-message" class="pull-left m-l-sm" style="text-align:left;"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-button">Cancel</button>
                <a href="#" class="btn btn-danger pull-right m-l-sm" onclick="deleteAccount();" id="send-button">Delete </a>
            </div>
        </div>

    </div>
</div>


<div id="modal-users" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Users Activation</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert">
                    Choose which users you want to re-activate
                    <div class="well m-t-sm">
                        <div id="professionalUsers"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="users-message" class="pull-left m-t-sm m-l-sm"></div>
                <button type="button" class="btn btn-default">Cancel</button>
                <a href="#" class="btn btn-danger pull-right m-l-sm" onclick="activateUsers();" id="send-button">Activate </a>
            </div>
        </div>

    </div>
</div>

<div class="hidden" id="fileLink"><a href="">ZIP</a></div>

<% include ../common/footer %>
<% include ../common/scripts %>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/assets/js/jquery/tree/jstree.min.js"></script>
<script>
    var handler = StripeCheckout.configure({
        key: '<%= params.stripe.publishableKey %>',
        locale: 'auto',
        token: function(token) {     
            $('#loader-content').addClass('active');       
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                cache: false,
                url: '/user/charge',
                data : JSON.stringify(token),
                success: function (data) {
                    $('#loader-content').removeClass('active'); 
                    
                    $.ajax({
                        type:'POST',
                        contentType: 'application/json',
                        cache:false,
                        url:'/user/archived-users',
                        success: function(data){
                            var users = data.result;                            
                            if(users.length > 0){
                                var html = '<div class="tree"><ul style="margin-bottom:0px;">';
                                for(var i = 0; i < users.length; i++){
                                    var userName = '';
                                    if(users[i].name != ''){
                                        userName = users[i].name;
                                    }else if(users[i].google_display_name != ''){
                                        userName = users[i].google.display_name;
                                    }
                                    html += '<li><div class="checkbox" style="margin:0; margin-bottom:2px;"><label class="i-checks i-checks-sm"><input type="checkbox" class="selectedUsers" name="selectedUsers[]" value="' + users[i].id + '"/><i></i> ' + userName + '</label></div></li > ';
                                }
                                html += '</ul></div>';
                                $('#modal-users #professionalUsers').html(html);
                                $('#modal-users').modal('show');

                                $('.modal-footer button').on('click', function(){
                                    $('#modal-users').modal('hide');
                                    window.location.href = '/user/settings';
                                })
                            }else{
                                window.location.href = '/user/settings';
                            }
                        },
                        error: function(xhr, status, error){
                            console.log(error);
                        }

                    })
                },
                error: function (xhr, status, error) {
                    $('#loader-content').removeClass('active');    
                    console.log(error);
                }
            });   
        }
    });

    $('#stripeButton').on('click', function(e) {
        handler.open({
            name: 'GlobalARC',
            description: 'Professional Plan',
            zipCode: true,
            amount: <%= params.plans.professional.stripePrice %>
        });
        e.preventDefault();
    });

    $(window).on('popstate', function() {
        handler.close();
    });
</script>
<script type="text/javascript">
// request call form submit
function submitRequestCallForm() {   
    $('#loader').removeClass('hidden');
    $('#alert').addClass('hidden');
    $('#message').html('');
    
    jQuery.validator.addMethod('intlphone', function(value) { return (value.match(/^((\+)?[1-9]{1,2})?([-\s\.])?((\(\d{1,4}\))|\d{1,4})(([-\s\.])?[0-9]{1,12}){1,2}(\s*(ext|x)\s*\.?:?\s*([0-9]+))?$/)); }, 'Please enter a valid phone number');
    
    var validationRules = {
        highlight: function(element, errorClass) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element, errorClass) {
            $(element).closest('.form-group').removeClass('has-error');
        }
    };
    
    var requestCallRules = validationRules;
    
    requestCallRules.rules = {
        name: 'required',
        email: {
            required: true,
            email: true
        },
        phone: 'required'
    };
    
    requestCallRules.messages = {
        name: 'Please enter your name.',
        email: {
            required: "Please enter your email address.",
            email: "Please enter valid email address."
        },
        phone: {
            required: 'Please enter your phone number so we can reach you.'
        }
    };
    
    
    $("#requestCallForm").validate(requestCallRules);
    
    if ($('#requestCallForm').valid()) {
        var data = {
            name: $('#name').val(),
            email: $('#email').val(),
            phone: $('#phone').val()
        };
                    
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            cache: false,
            url: '/user/call',
            data : JSON.stringify(data),
            success: function (data) {
                $('#loader').addClass('hidden');
                if(data.result == 'error'){
                    $('#alert').removeClass('hidden');
                    $('#alert').removeClass('alert-success');
                    $('#alert').addClass('alert-danger');
                    $('#message').html(data.message);
                }else if(data.result == 'ok'){
                    $('#send-button').addClass('hidden');
                    $('#close-button').html('Close');
                    $('.form-group.hidethis').addClass('hidden');
                    $('#name').val('');
                    $('#email').val('');
                    $('#phone').val('');
                    $('#alert').removeClass('hidden');
                    $('#alert').removeClass('alert-danger');
                    $('#alert').addClass('alert-success');
                    $('#message').html('Your request has been successfully sent.<br>We will contact you as soon as possible.');
                }
            },
            error: function (xhr, status, error) {
                $('#alert').removeClass('hidden');
                $('#alert').removeClass('alert-success');
                $('#alert').addClass('alert-danger');
                $('#message').html(error);
                
                $('#loader').addClass('hidden');
            }
        });   
    } else {
        $('#loader').addClass('hidden');            
    }
}


</script>

<script type="text/javascript">
    $('#aside').removeClass('hide');
    $('#aside-user').addClass('show');
</script>
<% include ../common/intercom %>
<% include ../common/end %>