<% include common/metadata %>
    <% include common/header %>

        <div id="content" class="app-content " role="main">
            <div class="app-content-body ">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <!-- main -->
                    <div class="col">
                        <h1 class="font-thin m-b-xxl">About</h1>
                        <h4>GlobalARC is a full service UAV deployment and management system with built in airspace compliance
                            and live video feed from drones. It was built for professionals looking to manage their fleets
                            and engage in commercial UAV operations. GlobalARC enables companies and service providers to
                            integrate UAV operations into their day to day activities and quickly scale while automatically
                            complying with current rules and regulations. </h4>
                        <h2 class="font-thin m-t-xl m-b-xl text-center">Why GlobalARC?</h2>
                        <h4>
                                This service was built on top of our unique patented technology for peer-to-peer communication between autonomous vehicles.
                                It enables instantaneous communication and control of robots across unlimited distances using
                                cellular networks. It can be applied to any air, surface or water vehicle as long as they
                                are in range of cellular networks anywhere in the world. Our system provides near real-time
                                video and data feed around the globe.
                            </h4>
                        <h4 class="m-t-xl text-center">Global Autonomous Robot Communication (ARC)
                            </h4>
                        <div class="wrapper text-center">
                            <img src="/assets/images/about.png" class="w-full"/></div>
                        <h2 class="font-thin m-t-xl m-b-xl text-center">Who are we?
                            </h2>
                        <h4 class="m-b-xxl">GlobalARC was made by a team of pioneers in robotics and cloud computing. We have been working
                                on cool tech for over a decade now and we always had passion for flying robots.</h4>
                    </div>
                </div>
            </div>
        </div>

        <% include common/footer %>
            <% include common/scripts %>
            <% include ../common/intercom_loggedout %>
                <% include common/end %>