<% include common/metadata %>
<% include common/header %>

<div id="content" class="app-content " role="main">
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <div class="lter wrapper-md">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-xl">
                            <h1>Request a Call</h1>
                        </div>
                        <div class="col-lg-4 col-md-4"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well">
                            <div class="alert hidden" id="alert">
                                <div class="text-center"><span id="message"></span></div>
                            </div>
                            <form name="form" class="form-validation" id="requestCallForm">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="name" id="name" required type="text">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" id="email" required type="email">
                                </div>
                                <div class="form-group">
                                    <label>Mobile Phone</label>
                                    <input class="form-control intlphone" name="phone" id="phone" required type="text">
                                </div>
                                <a href="#" class="btn btn-info pull-right m-l-sm" onclick="submitRequestCallForm();">Send Request </a>
                                <div id="loader" class="pull-right m-t-sm hidden"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                                
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer %>
<% include common/scripts %>
<script src="/assets/js/jquery/jquery.validation/jquery.validate.min.js"></script>
<script type="text/javascript">
// request call form submit
function submitRequestCallForm() {   
    $('#loader').removeClass('hidden');
    $('#alert').addClass('hidden');
    $('#message').html('');
    
    jQuery.validator.addMethod('intlphone', function(value) { return (value.match(/^((\+)?[1-9]{1,2})?([-\s\.])?((\(\d{1,4}\))|\d{1,4})(([-\s\.])?[0-9]{1,12}){1,2}(\s*(ext|x)\s*\.?:?\s*([0-9]+))?$/)); }, 'Please enter a valid phone number');
    
    var validationRules = {
        highlight: function(element, errorClass) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element, errorClass) {
            $(element).closest('.form-group').removeClass('has-error');
        }
    };
    
    var requestCallRules = validationRules;
    
    requestCallRules.rules = {
        name: 'required',
        email: {
            required: true,
            email: true
        },
        phone: 'required'
    };
    
    requestCallRules.messages = {
        name: 'Please enter your name.',
        email: {
            required: "Please enter your email address.",
            email: "Please enter valid email address."
        },
        phone: {
            required: 'Please enter your phone number so we can reach you.'
        }
    };
    
    
    $("#requestCallForm").validate(requestCallRules);
    
    if ($('#requestCallForm').valid()) {
        var data = {
            name: $('#name').val(),
            email: $('#email').val(),
            phone: $('#phone').val()
        };
                    
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            cache: false,
            url: '/call',
            data : JSON.stringify(data),
            success: function (data) {
                $('#loader').addClass('hidden');
                if(data.result == 'error'){
                    $('#alert').removeClass('hidden');
                    $('#alert').removeClass('alert-success');
                    $('#alert').addClass('alert-danger');
                    $('#message').html(data.message);
                }else if(data.result == 'ok'){
                    $('#name').val('');
                    $('#email').val('');
                    $('#phone').val('');
                    $('#alert').removeClass('hidden');
                    $('#alert').removeClass('alert-danger');
                    $('#alert').addClass('alert-success');
                    $('#message').html('Your request has been successfully sent.<br>We will contact you as soon as possible.');
                }
            },
            error: function (xhr, status, error) {
                $('#alert').removeClass('hidden');
                $('#alert').removeClass('alert-success');
                $('#alert').addClass('alert-danger');
                $('#message').html(error);
                
                $('#loader').addClass('hidden');
            }
        });   
    } else {
        $('#loader').addClass('hidden');            
    }
}

</script>
<% include ../common/intercom_loggedout %>
<% include common/end %>