<% include common/metadata %>
<% include common/header %>

<div id="content" class="app-content " role="main">
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <div class="lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="font-thin">GlobalARC - Drone Command Center in the Cloud</h1>
                            <h2 class="subtitle font-thin">Real-Time Mission Planning and Project Collaboration</h2>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-container">
                            <div id="mac">             
                                <video id="video" autoplay loop ontouchstart="this.play();">
                                    <source src="/assets/videos/home.mp4" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2 class="font-thin">Live Video Stream from Drones</h2>
                            <br/>
                            <h4>Get live video feed from your drones in the field.<br/>Gather realtime data, respond to emergencies and crises.</h4>
                            <h4>"It takes an hour and thousands of dollars to get a helicopter to respond to an emergency. Drone was up in the air in 5 minutes for cents."</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img src="/assets/images/live-stream.jpg" class="img-full" />
                        </div>
                    </div>
                </div>
                <div class="lter b-b wrapper-md hidden-xs">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img src="/assets/images/any-drone.jpg" class="img-full" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2 class="font-thin">Add Any Drone to Your Fleet</h2>
                            <br/>
                            <h4>Our system connects directly to the autopilot and puts any autonomous vehicle under your control.</h4>
                            <h4>It provides realtime data feed from the drone and allows dynamic geofencing and compliance.</h4>
                        </div>
                    </div>
                </div>
                
                <div class="lter b-b wrapper-md hidden-lg hidden-md hidden-sm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2 class="font-thin">Add Any Drone to Your Fleet</h2>
                            <br/>
                            <h4>Our system connects directly to the autopilot and puts any autonomous vehicle under your control.</h4>
                            <h4>It provides realtime data feed from the drone and allows dynamic geofencing and compliance.</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img src="/assets/images/any-drone.jpg" class="img-full" />
                        </div>
                    </div>
                </div>
                
                <div class="wrapper-md">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <h3 class="font-thin">Enterprise Project an Compliance Management</h3>
                            <h4>Share a project with users and stakeholders inside and outside of your organization<br/>and control access permissions across the Aerial Information Platform</h4>
                            <br/>
                        </div>
                        
                    </div>
                </div>
                <div class="lterwrapper-md signup-form">
                    <div class="row"> 
                        <div class="col-lg-3 col-md-3 col-sm-hide col-xs-hide"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/v/WSV6oZPIqYQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-hide col-xs-hide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer %>
<% include common/scripts %>

<script>      
    // video + background dimension calculation
    setVideoDimensions();
    setIFrameDimensions();
    
    $(window).resize(function () { 
        setVideoDimensions();
        setIFrameDimensions();
    });
    
    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73516410-1', 'auto');
    ga('send', 'pageview');
</script>
<% include ../common/intercom_loggedout %>
<% include common/end %>