<% include common/metadata %>
<% include common/header %>

<div id="content" class="app-content " role="main">
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <h1 class="m-b-xxl font-thin">Pricing</h1>
                <div class="row row-sm">
                    <div class="col-lg-4 col-md-4 col-sm-4" >
                        <div class="panel b-a">
                            <div class="panel-heading text-center bg-success no-border">
                            <span class="text-u-c m-b-none font-bold">Free</span>          
                            </div>
                            <div class="wrapper text-center">
                            <h2 class="m-t-none">
                                <sup class="pos-rlt" style="top:-22px">$</sup>
                                <span class="text-2x text-lt">0</span>
                                <span class="text-xs">/ mo</span>
                            </h2>
                            </div>
                            <ul class="list-group text-center m-t-sm no-borders ">
                                <% include ../common/plan_free %>
                            </ul>
                            <div class="panel-footer text-center">
                            <a href="/auth/register/free/0/0" class="btn btn-success font-bold m">CREATE ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="panel b-a">
                            <div class="panel-heading text-center bg-info no-border">
                            <span class="text-u-c m-b-none font-bold">Professional</span>          
                            </div>
                            <div class="wrapper text-center">
                            <h2 class="m-t-none">
                                <sup class="pos-rlt" style="top:-22px">$</sup>
                                <span class="text-2x text-lt"><%= params.plans.professional.price %></span>
                                <span class="text-xs">/ mo</span>
                            </h2>
                            </div>
                            <ul class="list-group text-center m-t-sm no-borders ">
                                <% include ../common/plan_professional %>
                                <li class="list-group-item no-border no-padder m-none">
                                    <div id="pricing-loader"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                                </li>
                            </ul>
                            <div class="panel-footer text-center">
                                <a href="#" class="btn btn-info font-bold m" id="stripeButton">CREATE ACCOUNT</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="panel b-a">
                            <div class="panel-heading text-center bg-danger no-border">
                            <span class="text-u-c m-b-none font-bold">Enterprise</span>          
                            </div>
                            <div class="wrapper text-center">
                            <h2 class="m-t-none">
                                <sup class="pos-rlt" style="top:-22px"></sup>
                                <span class="text-2x text-lt" style="display: block; font-size: 48px; padding-top: 15px;"><i class="icon fa fa-phone"></i></span>
                                <span class="text-xs"></span>
                            </h2>
                            </div>
                            <ul class="list-group text-center m-t-sm no-borders ">
                                <% include ../common/plan_enterprise %>
                            </ul>
                            <div class="panel-footer text-center">
                            <a href="/call" class="btn btn-danger font-bold m">REQUEST A CALL</a>
                            </div>
                        </div>
                    </div>
                    <div class="small"><i class="icon-wrench text-warning m-r-xs"></i> Comming Soon</div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<% include common/footer %>
<% include common/scripts %>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
        key: '<%= params.stripe.publishableKey %>',
        locale: 'auto',
        token: function(token) {  
            $('#pricing-loader i').css('visibility', 'visible');
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                cache: false,
                url: '/user/create-professional-account',
                data : JSON.stringify(token),
                success: function (data) {
                    if(data.result == 'ok'){
                        $('#pricing-loader i').css('visibility', 'hidden');
                        window.location.href = '/auth/register/professional/' + data.customerID + '/' + data.subscriptionID;
                    }else{
                        alert(data.message);
                    }                   
                },
                error: function (xhr, status, error) {
                    $('#pricing-loader i').css('visibility', 'hidden');
                    alert(error);
                }
            });   
        }
    });

    $('#stripeButton').on('click', function(e) {
        handler.open({
            name: 'GlobalARC',
            description: 'Professional Plan',
            zipCode: true,
            amount: <%= params.plans.professional.stripePrice %>
        });
        e.preventDefault();
    });

    $(window).on('popstate', function() {
        handler.close();
    });
</script>
<% include ../common/intercom_loggedout %>
<% include common/end %>