<% include common/metadata %>
    <% include common/header %>

        <div id="content" class="app-content " role="main">
            <div class="app-content-body ">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <!-- main -->
                    <div class="col">
                        <h1 class="font-thin m-b-lg">Privacy Policy</h1>
                        <p>At Easy Aerial, Inc. (GlobalARC) we’re committed to helping you fly your unmanned aerial vehicle
                            with confidence. This Privacy Policy outlines how we collect, use, share and safeguard your information
                            when you visit our website or use our platform (the “Services”). By using our Services or otherwise
                            interacting with us, you agree to and accept this policy.</p>
                        <p>
                            We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top
                            of the policy and, in some cases, we may provide you with additional notice (such as adding a
                            statement to our homepage or sending you an email notification). We encourage you to review the
                            Privacy Policy whenever you access the Services to stay informed about our information practices
                            and the ways you can help protect your privacy.</p>

                        <h3 class="font-thin">1. Information Collection</h3>
                        <ul>
                            <li>
                                (a) <b>Information You Provide to Us.</b> We collect information you provide directly to
                                us. For example, we collect information when you create an account, participate in a survey,
                                make a purchase, request customer support or otherwise communicate with us. The types of
                                information we may collect include your name, email address, postal address, phone number,
                                fax number, credit card information and any other information you choose to provide. Additionally,
                                we store all the data that you provide about your unmanned aerial vehicle usage, including
                                but not limited to telemetry data, pilot and flight data, and any other information related
                                to your usage of the Services. Further information about how the information in your account
                                may be used can be found in the GlobalARC Terms of Service that you agree to when you sign
                                up for our Services.</li>
                            <li>
                                (b) <b>Information We Collect Automatically When You Use the Services.</b> When you access
                                or use the Services, we automatically collect information about you, including:
                                <ul>
                                    <li>
                                        <b>Log Information:</b> We log information about your use of the Services, including
                                        the type of browser you use, access times, pages viewed, your IP address and the
                                        page you visited before navigating to our Services.</li>
                                    <li>
                                        <b>Device Information:</b> We collect information about the computer or mobile device
                                        you use to access our Services, including the hardware model, operating system and
                                        version, unique device identifiers and mobile network information.</li>
                                    <li>
                                        <b>Information Collected by Cookies and Other Tracking Technologies:</b> We use various
                                        technologies to collect information, and this may include sending cookies to your
                                        computer or mobile device. Cookies are small data files stored on your hard drive
                                        or in device memory that help us to improve our Services and your experience, see
                                        which areas and features of our Services are popular and count visits. We may also
                                        collect information using web beacons (also known as “tracking pixels”). Web beacons
                                        are electronic images that may be used in our Services or emails and help deliver
                                        cookies, count visits, understand usage and campaign effectiveness and determine
                                        whether an email has been opened and acted upon. For more information about cookies,
                                        and how to disable them, please see “Preferences” below.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <b>(c) Information We Collect From Other Sources.</b> We may also obtain information from
                                other sources and combine that with information we collect through our Services. For example,
                                we may collect information about you from third parties, including but not limited to identity
                                verification services, credit bureaus, mailing list providers, and publicly available sources.</li>
                        </ul>


                        <h3 class="font-thin">2. Use of Information.</h3>
                        <p> We may use information about you for various purposes, including to:</p>
                        <ul>
                            <li>
                                Provide, maintain and improve our Services;</li>
                            <li>
                                Provide and deliver the products and services you request, process transactions and send you related information, including
                                confirmations and invoices;</li>
                            <li>
                                Send you technical notices, updates, security alerts and support and administrative messages;</li>
                            <li>
                                Respond to your comments, questions and requests and provide customer service;</li>
                            <li>
                                Communicate with you about products, services, offers, promotions, rewards, and events offered by GlobalARC and others, and
                                provide news and information we think will be of interest to you;</li>
                            <li>
                                Monitor and analyze trends, usage and activities in connection with our Services;</li>
                            <li>
                                Personalize and improve the Services and content or features that match user profiles or interests;</li>
                            <li>
                                Process and deliver contest entries and rewards;</li>
                            <li>
                                Link or combine with information we get from others to help understand your needs and provide you with better service; and
                            </li>
                            <li>Carry out any other purpose for which the information was collected.</li>
                        </ul>
                        <p>For information on setting your preferences for communication, and opting out, please see “Preferences”
                            below. GlobalARC is based in the United States and the information we collect is governed by
                            U.S. law. By accessing or using the Services or otherwise providing information to us, you consent
                            to the processing and transfer of information in and to the U.S. and other countries.</p>
                        <h3 class="font-thin">3. Sharing of Information.</h3>
                        <p> We may share information about you as follows or as otherwise described in this Privacy Policy:</p>
                        <ul>
                            <li>
                                With vendors, consultants and other service providers who need access to such information to carry out work on our behalf;</li>
                            <li>
                                With marketing partners so they can send you notices about their products or services. If you do not want to receive email
                                marketing communications, see “Preferences” below for opt-out information;</li>
                            <li>
                                In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or
                                legal process, or as otherwise required by any applicable law, rule or regulation;</li>
                            <li>
                                If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect
                                the rights, property and safety of GlobalARC or others;</li>
                            <li>
                                In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion
                                of our business to another company; and</li>
                            <li>
                                With your consent or at your direction, including if we notify you through our Services that the information you provide
                                will be shared in a particular manner and you provide such information.</li>
                        </ul>
                        <p>We may also share aggregated or de-identified information, which cannot reasonably be used to identify
                            you.
                        </p>
                        <h3 class="font-thin">4. Security.</h3>
                        <p> GlobalARC takes reasonable measures to help protect information about you from loss, theft, misuse
                            and unauthorized access, disclosure, alteration and destruction. We use advanced security protocols that protect your information and help to ensure a secure online experience. Our website uses secure encryption to protect all credit card ordering information, including your name, address and credit card number, so it cannot be read in transit.</p>
                        <p> However, despite our deep commitment to your security, we cannot guarantee the total privacy of our system and recommend that you choose a strong, secret password to protect your account. In the event of a data breach by a third party, we will notify you within 10 business days of our discovery of the breach.</p>
                        <h3 class="font-thin">5. Preferences.</h3>
                        <ul>
                            <li>
                                <b>(a) Account Information.</b> If you have established an account with us, you may update,
                                correct or delete information about you at any time by logging into your online account or
                                emailing us at contact@globalarc.us. If you wish to deactivate your account, please email
                                us at contact@globalarc.us, but note that we may retain certain information as required by
                                law or for legitimate business purposes. We may also retain cached or achieved copies of
                                information about you for a certain period of time.</li>
                            <li>
                                <b>(b) Cookies.</b> Most web browsers are set to accept cookies by default. If you prefer,
                                you can usually choose to set your browser to remove or reject browser cookies. Please note
                                that if you choose to remove or reject cookies, this could affect the availability or functionality
                                of our Services.</li>
                            <li>
                                <b>(c) Promotional Communications.</b> You may opt out of receiving promotional emails from
                                GlobalARC by following the instructions in those emails. If you opt out, we may still send
                                you non-promotional communications, such as those about your account or our ongoing business
                                relations.
                            </li>
                        </ul>
                        <h3 class="font-thin">
                            6. Contact Us.</h3>
                        <p class="m-b-xxl"> If you have any questions about this Privacy Policy, please contact us at <a href="mailto:contact@globalarc.us"
                                class="text-info">contact@globalarc.us</a>.</p>


                    </div>
                </div>
            </div>
        </div>

        <% include common/footer %>
            <% include common/scripts %>
            <% include ../common/intercom_loggedout %>
                <% include common/end %>