<% include common/metadata %>
    <% include common/header %>

        <div id="content" class="app-content " role="main">
            <div class="app-content-body ">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <!-- main -->
                    <div class="col terms">
                        <h1 class="font-thin m-b-lg">GLOBALARC TERMS OF SERVICE</h1>
                        <p>Please read these terms of service (these "<b>Terms</b>") carefully as they form a contract between
                            you and Easy Aerial, Inc. ("<b>GlobalARC</b>", "<b>we</b>", "<b>us</b>", or "<b>our</b>") that
                            governs your access and use of:
                            <ul>
                                <li>(a) the GlobalARC platform for online storage, sharing and processing of:
                                    <ul>
                                        <li>(i) Unmanned Aerial Vehicle (UAV) flight plan data, UAV flight log data, UAV flight
                                            metadata, operator insurance information, regulatory clearance including your
                                            pilot license, and any other data or information uploaded to the GlobalARC platform
                                            that relates to flight safety compliance (the "<b>Flight Safety Compliance Data</b>"
                                            or the "
                                            <b>FSCD</b>");</li>
                                        <li>(ii) files, materials, information, data, text, or other user-uploaded content not
                                            required for flight safety (the foregoing items and the FSCD, collectively the
                                            "
                                            <b>User Content</b>");</li>
                                    </ul>
                                </li>
                                <li>(b) any software provided or made available by GlobalARC (the "<b>Software</b>");</li>
                                <li>(c) the GlobalARC websites or applications; </li>
                                <li>(d) any written or electronic use or features guides or other documentation provided or made
                                    available by GlobalARC (the "<b>User Guides</b>");</li>
                                <li>(e) any Third Party Content; and</li>
                                <li>(f) or other professional services content created by GlobalARC that isn't a part of an existing
                                    agreement between you and GlobalARC (the "<b>Professional Services</b>") (collectively
                                    the "<b>Service(s)</b>").</li>
                            </ul>
                        </p>
                        <p class="m-t-md">
                            <b class="m-b-sm">By registering or using any of the Services you agree to be bound by these Terms.</b><br>                            If you are using the Services on behalf of an organization, you hereby agree to these Terms for
                            that organization and promise to GlobalARC that you have the authority to bind that organization
                            to these Terms (in which event, "you" and "your" will refer to that organization) unless that
                            organization has a separate written contract in effect with us, in which event the terms of that
                            contract will govern your use of the Service. You may use the Services only in compliance with
                            these Terms and only if you have the power to form a contract with GlobalARC and are not barred
                            under any applicable laws from doing so. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, YOU
                            MUST NOT USE THE SERVICES. Should you have any questions concerning these Terms, please contact
                            us at: <a class="text-info" href="mailto:contact@globalarc.us">contact@globalarc.us</a> Please
                            note that GlobalARC doesn't provide warranties for the Services. This contract also limits our
                            liability to you. See Sections 14 and 16 for details.
                        </p>

                        <h3 class="font-thin m-t-lg">1. CHANGES TO THESE TERMS</h3>
                        <p>We reserve the right to revise these Terms from time to time. We will date and post the most current
                            version of these Terms on the GlobalARC web platform. Any changes will be effective upon posting
                            the revised version of these Terms on the Service (or such later effective date as may be indicated
                            at the top of the revised Terms). If in our sole discretion we deem a revision to these Terms
                            to be material, we will notify you via the Service and/or by email to the email address associated
                            with your account. Notice of other changes may be provided via <a class="text-info" href="https://www.globalarc.us">www.globalarc.us</a>                            or any related GlobalARC blog (collectively, the "<b>Site</b>"). Therefore, we encourage you
                            to check the date of these Terms whenever you visit the Site to see if these Terms have been
                            updated. Your continued access or use of any portion of the Service constitutes your acceptance
                            of such changes. If you don't agree to any of the changes, we're not obligated to continue providing
                            the Service, and you must cancel and stop using the Service.</p>

                        <h3 class="font-thin m-t-lg">2. ACCESS TO THE SERVICE</h3>
                        <p>Subject to your continued compliance with these Terms and timely payment of any applicable Fees,
                            We will use commercially reasonable efforts to provide the Services to you on a non-exclusive,
                            non-transferable, and revocable basis. We reserve the right, in our sole discretion, to make
                            necessary unscheduled deployments of changes, updates or enhancements to the Service at any time.
                            We may add or remove functionalities or features, and or suspend or stop a Service altogether,
                            at any time and without prior notice to you.</p>

                        <h3 class="font-thin m-t-lg">3. YOUR ACCOUNT</h3>
                        <ul>
                            <li>(a) To obtain access to certain Services, you may be required to obtain an account with GlobalARC
                                (become a "Registered User"),by completing a registration form and designating a user ID
                                and password. Until you apply for and become a Registered User, your access to the Service
                                will be limited to the areas of the Service, if any, that GlobalARC makes available to the
                                general public. When registering with GlobalARC you must:
                                <ul>
                                    <li>(i) provide true, accurate, current and complete information about yourself as requested
                                        by the Service's registration form (such information being the "Registration Data")
                                        and </li>
                                    <li>(ii) maintain and promptly update the Registration Data to keep it true, accurate, current
                                        and complete.</li>
                                </ul>
                            </li>
                            <li>(b) Only you may use your GlobalARC account, except that if you are an entity you may permit
                                your employees or contractors to use your GlobalARC account solely for your benefit. You
                                must keep your account and passwords confidential and not authorize any third party to access
                                or use the Service on your behalf, unless we provide an approved mechanism for such use.
                                You must contact us right away if you suspect any misuse of your account or any security
                                breach in the Service has occurred. You are responsible for all activities that take place
                                with your account. Easy Aerial will not be liable for any loss or damage arising from any
                                unauthorized use of your accounts.</li>
                            <li>(c) If a third party such as an employer gave you your account, that party has rights to your
                                account and may: manage your account, reset your password, or suspend or cancel your account;
                                view your account's usage and profile data, including how and when your account is used;
                                and read or store Content in your account. If you are an individual Registered User of the
                                Service, and the domain of the primary email address associated with your account is owned
                                by an organization and was assigned to you as an employee, contractor or member of such organization,
                                and that organization wishes to establish a commercial relationship with us and add your
                                account to such relationship, then, if you do not change the email address associated with
                                your account, your account may become subject to the commercial relationship between GlobalARC
                                and such organization and controlled by such organization.</li>
                        </ul>
                        <h3 class="font-thin m-t-lg">4. CONSENT TO ELECTRONIC COMMUNICATIONS AND SOLICITATION</h3>
                        <p>By registering with GlobalARC, you understand that we may send you communications or data regarding
                            the Services, including but not limited to (a) notices about your use of the Services, including
                            any notices concerning violations of use, (b) updates, and (c) promotional information and materials
                            regarding GlobalARC's products and services, via electronic mail. We give you the opportunity
                            to opt-out of receiving electronic mail from us by following the opt-out instructions provided
                            in the message.</p>

                        <h3 class="font-thin m-t-lg">5. FLIGHT SAFETY COMPLIANCE DATA AND OTHER USER CONTENT</h3>
                        <ul>
                            <li>(a) Because GlobalARC will be your digital flight log, we may be required by applicable law to
                                treat your Flight Safety Compliance Data (FSCD) differently than your other User Content,
                                and, notwithstanding anything to the contrary in these Terms, you hereby consent to any such
                                different treatment. Should you choose to use the Service as a form of official record-keeping
                                of your FSCD, you will do so solely at your own risk; and, you represent and covenant that
                                all records you enter, delete, edit, modify or otherwise maintain are true and correct. You
                                will maintain appropriate security to protect your FSCD from unauthorized access. In addition
                                to the disclaimers and limitations set forth below, GlobalARC will have no liability of any
                                kind as a result of the deletion of, correction of, destruction of, damage to, loss of or
                                failure to store any FSCD.</li>
                            <li>(b) We do not claim any ownership of the User Content that is uploaded to the GlobalARC platform.
                                However, we have the right, but not the obligation to verify, audit, backup, edit, copy,
                                or transmit the User Content as required by these Terms, the law or the regulations, or as
                                necessary to provide the Services.</li>
                            <li>(c) We provide functions that allow you to control who may access and modify your User Content.
                                If you enable the features that allow you to share the User Content with others, anyone you've
                                shared content with may have access to and the right to modify your User Content. Even if
                                you disable the sharing features, we will still have the right to access, store, and use
                                your User Content as provided below.</li>
                            <li>(d) You hereby grant GlobalARC and its contractors the perpetual, irrevocable, worldwide, royalty-free
                                right, to use, modify, adapt, reproduce, distribute, display and disclose User Content posted
                                on the Service:
                                <ul>
                                    <li>(i) to the extent necessary to provide the Service to you;</li>
                                    <li>(ii) to share your User Content as you direct via the sharing features of our service;</li>
                                    <li>(iii) to directly or indirectly share, aggregate, analyze, or keep your anonymized data
                                        (as determined by GlobalARC in our sole discretion for any purpose, including for
                                        commercial purposes);
                                    </li>
                                    <li>(iv) as required by law; or,</li>
                                    <li>(v) as otherwise permitted by these Terms. You also represent and warrant that you have
                                        all the rights in the User Content required by these Terms and that the storage or
                                        upload of the User Content does not violate any applicable law or these Terms.</li>
                                </ul>
                            </li>
                            <li>(e) You represent and warrant that:
                                <ul>
                                    <li>(i) you have all the rights in the User Content necessary for you to use the Service
                                        and to grant the rights in these Terms; and,</li>
                                    <li>(ii) the storage, use or transmission of the User Content doesn't violate any law or
                                        these Terms.
                                    </li>
                                </ul>
                            </li>
                            <li>(f) You will:
                                <ul>
                                    <li>(i) be solely responsible for the nature, accuracy and content of the User Content;</li>
                                    <li>(ii) ensure that the User Content (including the storage or transmission thereof) complies
                                        with these Terms and any and all applicable laws, and regulations; and,</li>
                                    <li>(iii) maintain appropriate security to protect the User Content from unauthorized access;</li>
                                    <li>(iv) promptly handle and resolve any notices and claims relating to the User Content.
                                        GlobalARC will have no liability of any kind as a result of the deletion of, correction
                                        of, destruction of, damage to, loss of or failure to store any User Content.</li>
                                </ul>
                            </li>
                            <li>(g) You will immediately notify GlobalARC in writing or by email (at <a href="mailto:contact@globalarc.us"
                                    class="text-info">contact@globalarc.us</a>) of any unauthorized use of
                                <ul>
                                    <li>(i) your User Content</li>
                                    <li>(ii) your account or</li>
                                    <li>(iii) Service that comes to your attention. In the event of any such unauthorized use
                                        by any third party that obtained access through you, you will take all steps necessary
                                        to terminate such unauthorized use. You will provide GlobalARC with such cooperation
                                        and assistance related to any such unauthorized use as GlobalARC may reasonably request.</li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="font-thin m-t-lg">6. CONTENT STORED IN THE UNITED STATES</h3>
                        <p>The Service is provided from the United States. By using and accessing the Service, you understand
                            and consent to the storage and processing of the User Content, including Flight Safety Compliance
                            Data and any other personal information in the United States. GlobalARC reserves the right to
                            store and process personal information outside of the United States.</p>
                        <h3 class="font-thin m-t-lg">7. SUSPENSION AND TERMINATION OF CUSTOMER'S USE OF THE SERVICE</h3>
                        <ul>
                            <li>(a) GlobalARC may, in its sole discretion, for any or no reason, and without penalty, suspend
                                or terminate any account (or any part thereof) you may have with GlobalARC, or your use of
                                or access to the Service, or remove or discard all or any part of your account, user profile,
                                and any User Content. If GlobalARC plans to terminate or suspend your account or deny you
                                access to your account, we will provide you five (5) business days' notice, unless your use
                                of the account violates applicable law, poses a risk to GlobalARC, or GlobalARC is otherwise
                                legally compelled to suspend or terminate your account, in which case we may do so immediately
                                and without notice. GlobalARC will not be liable to you or to any third party for any such
                                termination or suspension regardless of the reason for such termination or suspension. GlobalARC
                                may refer any suspected fraudulent, abusive, or illegal activity may to appropriate law enforcement
                                authorities. These remedies are in addition to any other remedies GlobalARC may have at law
                                or in equity. GlobalARC does not permit copyright infringing activities on the Service, and
                                may terminate access to the Service, and remove any User Content or other content submitted
                                by any users who are found to be repeat infringers. Should GlobalARC terminate your account
                                for convenience prior to the completion of any particular subscription period, your sole
                                remedy is a pro-rata refund of the unused portion of the purchase price paid for the unavailable
                                Service. Usage-based charges are not refundable for any reason.</li>
                            <li>
                                (b) Your only remedy with respect to any dissatisfaction with
                                <ul>
                                    <li>(i) the Service;</li>
                                    <li>(ii) any term of these Terms; or,</li>
                                    <li>(iii) any policy or practice of GlobalARC in operating the Service is to terminate these
                                        Terms and your account. You may terminate these Terms at any time by discontinuing
                                        use of any and all parts of the Service and providing GlobalARC written notice of
                                        such termination. For clarity, no fees payable by you hereunder are refundable upon
                                        your termination of your account with GlobalARC.</li>
                                </ul>
                            </li>
                            <li>(c) Upon termination by GlobalARC, whether with or without cause, or at your direction, you may
                                request access to your User Content including your FSCD, which we will make reasonable efforts
                                to provide. You must make such request within thirty (30) days following termination. Otherwise,
                                <b>any User Content or FSCD you have stored with the Service may not be retrievable</b>,
                                and we will have no obligation to maintain any data stored in your account.
                            </li>
                            <li>(d) The following provisions survive the termination of these Terms: 4, 5(c), 5(d), 11(d), 11(e),
                                12, 13, 14, 15, 16, 17, 18, 19 (with respect to any amounts owned prior to termination) and
                                20.
                            </li>
                        </ul>
                        <h3 class="font-thin m-t-lg">8. ACCEPTABLE USE</h3>
                        <p>
                            You must not use the Service to harm others or the Service. For example, you must not use the Service to harm, threaten,
                            or harass another person, organization, or GlobalARC and/or to build a similar service or website.
                            You must not: damage, disable, overburden, or impair the Service (or any network connected to
                            the Service); resell or redistribute the Service or any part of it; use any unauthorized means
                            to modify, reroute, or gain access to the Service or attempt to carry out these activities; or
                            use any automated process or Service (such as a bot, a spider, or periodic caching of information
                            stored by GlobalARC) to access or use the Service. In addition, you will not and will not encourage
                            or assist any third party to:
                            <ul>
                                <li>(i) modify, alter, tamper with, repair or otherwise create derivative works of any Software;</li>
                                <li>
                                    (ii) reverse engineer, disassemble or decompile the software used to provide or access the Service, including the Software,
                                    or attempt to discover or recreate the source code used to provide or access the Service,
                                    except and only to the extent that the applicable law expressly permits doing so;</li>
                                <li>
                                    (iii) use the Service in any manner or for any purpose other than as expressly permitted by these Terms, the Privacy Policy,
                                    any User Guides or any other policy, instruction or terms applicable to the Service that
                                    are available on the Service ("<b>Policies</b>");</li>
                                <li>
                                    (iv) sell, lend, rent, resell, lease, sublicense or otherwise transfer any of the rights granted to you with respect to the
                                    Services to any third party;</li>
                                <li>
                                    (v) remove, obscure or alter any proprietary rights notice pertaining to the Service;</li>
                                <li>
                                    (vi) access or use the Service in a way intended to improperly avoid incurring fees or exceeding usage limits or quotas;</li>
                                <li>
                                    (vii) use the Service in any situation in which the failure of the Service could lead to death, personal injury, or physical
                                    property or environmental damage.</li>
                                <li>
                                    (viii) use the Service to:
                                    <ul>
                                        <li>(1) engage in any unlawful or fraudulent activity or perpetrate a hoax or engage
                                            in phishing schemes or forgery or other similar falsification or manipulation
                                            of data;</li>
                                        <li>(2) send unsolicited or unauthorized junk mail, spam, chain letters, pyramid schemes
                                            or any other form of duplicative or unsolicited messages, whether commercial
                                            or otherwise;</li>
                                        <li>(3) advertise or promote a commercial product or service that is not available through
                                            GlobalARC, in a manner not expressly authorized by GlobalARC;</li>
                                        <li>(4) store or transmit inappropriate content, such as content:
                                            <ul>
                                                <li>(a) containing unlawful, defamatory, threatening, pornographic, abusive,
                                                    libelous or otherwise objectionable material of any kind or nature,</li>
                                                <li>(b) containing any material that encourages conduct that could constitute
                                                    a criminal offense, or</li>
                                                <li>(c) that violates the intellectual property rights or rights to the publicity
                                                    or privacy of others;</li>
                                            </ul>
                                        </li>
                                        <li>(5) store or transmit any content that contains or is used to initiate a denial of
                                            service attack, software viruses or other harmful or deleterious computer code,
                                            files or programs such as Trojan horses, worms, time bombs, cancelbots, or spyware;
                                            or
                                        </li>
                                        <li>(6) abuse, harass, stalk or otherwise violate the legal rights of a third party;</li>
                                    </ul>
                                </li>
                                <li>(ix) interfere with or disrupt servers or networks used by GlobalARC to provide the Service
                                    or used by other users' to access the Service, or violate any third party regulations,
                                    policies or procedures of such servers or networks or harass or interfere with another
                                    user's full use and enjoyment of any Software or the Service;</li>
                                <li>(x) access or attempt to access GlobalARC's other accounts, computer systems or networks
                                    not covered by these Terms, through password mining or any other means;</li>
                                <li>(xi) cause, in GlobalARC's sole discretion, inordinate burden on the Service or GlobalARC's
                                    system resources or capacity; or</li>
                                <li>(xii) share passwords or other access information or devices or otherwise authorize any unauthorized
                                    third party to access or use the Software or the Service.</li>
                            </ul>
                        </p>


                        <h3 class="font-thin m-t-lg">9. UPDATES TO THE SERVICE</h3>
                        <p>GlobalARC reserves the right, in its sole discretion, to make necessary unscheduled deployments of
                            changes, updates or enhancements to the Service at any time. WE MAY ALTER, ADD OR REMOVE FUNCTIONALITIES
                            OR FEATURES, AND WE MAY SUSPEND OR STOP PROVIDING THE SERVICE, OR A PORTION THEREOF, IN OUR SOLE
                            DISCRETION. WE WILL PROVIDE YOU FIVE (5) BUSINESS DAYS' NOTICE OF ANY CHANGE THAT WE BELIEVE
                            IN OUR SOLE DISCRETION WILL CAUSE A MATERIAL DEGRADATION TO THE SERVICE, UNLESS SUCH CHANGE IS
                            REQUIRED TO COMPLY WITH APPLICABLE LAW, NEEDED TO REDUCE A POTENTIAL OR ACTUAL RISK TO GLOBALARC,
                            OR GLOBALARC IS OTHERWISE LEGALLY COMPELLED TO MAKE SUCH CHANGE, IN WHICH CASE WE MAY DO SO IMMEDIATELY
                            AND WITHOUT NOTICE. GLOBALARC NOT BE LIABLE IN ANY WAY FOR POSSIBLE CONSEQUENCES OF SUCH CHANGES.</p>
                        <h3 class="font-thin m-t-lg">10. EXPORT CONTROL</h3>
                        <p>The Software and Services are subject to applicable U.S. export laws and regulations. You will comply
                            with all domestic and international export laws and regulations that apply to the Software or
                            Service. These laws include restrictions on destinations, end users, and end use. Without limitation,
                            you may not transfer the Software or Service without U.S. government permission to anyone on
                            U.S. government exclusion lists. You represent and warrant that you're not on any of those lists
                            or under the control of or an agent for anyone on those lists or the entities listed above.</p>

                        <h3 class="font-thin m-t-lg">11. THIRD PARTY SERVICES AND CONTENT</h3>
                        <ul>
                            <li>(a) You will not use the Services to conduct any transactions unless expressly permitted by GlobalARC.
                                All transactions using the Services are between the transacting parties only. The Services
                                may contain features and functionalities linking you or providing you with certain functionality
                                and access to third party content, including Web sites, directories, servers, networks, systems,
                                information and databases, applications, software, programs, products or services, and the
                                Internet as a whole; you acknowledge that we are not responsible for such content or services.
                                We may also provide some content to you as part of the Services. However, we are not an agent
                                of any transacting party, nor are we a direct party in any such transaction. Any such activities,
                                and any terms associated with such activities, are solely between you and the applicable
                                third-party.
                            </li>
                            <li>
                                (b) We have no liability, obligation or responsibility for any such correspondence, purchase or promotion between you and
                                any such third-party. You should make whatever investigation you feel necessary or appropriate
                                before proceeding with any online or offline transaction with any of these third parties.
                                You are solely responsible for your dealings with any third party related to the Services,
                                including the delivery of and payment for goods and services. Should you have any problems
                                resulting from your use of any third party services, or should you suffer data loss or other
                                losses as a result of problems with any of your other service providers or any third-party
                                services, we will not be responsible unless the problem was the direct result of our breaches.</li>
                            <li>
                                (c) When using the Service, we may provide you with access to content and information from a variety of sources, including
                                content generated by GlobalARC (collectively, "Third Party Content"). The Third Party Content
                                may have additional obligations and restrictions that apply to it. You hereby agree to abide
                                by any such obligations or restrictions. Unless otherwise expressly permitted in writing
                                by GlobalARC or the owner of the Third Party Content, you will only use Third Party Content
                                for your internal business purposes.</li>
                            <li>
                                (d) Unless otherwise expressly permitted in writing by GlobalARC or the owner of the Third Party Content you will:
                                <ul>
                                    <li>(i) treat as confidential and preserve the confidentiality of all Third Party Content;
                                    </li>
                                    <li>(ii) take the same degree of care to prevent disclosure of the Third Party Content as
                                        you take to preserve and safeguard your own confidential or proprietary information,
                                        but, in any event, no less than a reasonable degree of care; </li>
                                    <li>(iii) not copy, disclose or make available such Third Party Content (or permit others
                                        to do so);</li>
                                    <li>(iv) limit dissemination of the Third Party Content solely to employees and contractors
                                        ("Representatives") to whom disclosure is necessary for your internal business purposes,
                                        but only if such Representatives have agreed, in writing prior to receiving the Third
                                        Party Content, to maintain the confidentiality thereof on terms at least as protective
                                        as the terms of this Section and you have notified such Representatives that the
                                        Third Party Content must be kept in confidence in accordance with these Terms; and,</li>
                                    <li>(v) promptly return or destroy all Confidential Information at our request. If any Representative(s)disclose
                                        or use Third Party Content other than as authorized in these Terms, you will be liable
                                        to us for such disclosure or use to the same extent you would have been had you disclosed
                                        or used the Third Party Content. If you become aware of any loss or unauthorized
                                        disclosure of Third Party Content, you will promptly notify us of such and use your
                                        best efforts to retrieve such Third Party Content.</li>
                                </ul>
                                <li>
                                    (e) Such Third Party Content may be inaccurate, outdated, or have other problems. GlobalARC is not responsible for the accuracy,
                                    usefulness, safety, or intellectual property rights of or relating to any Third Party
                                    Content. GlobalARC does not endorse any User Content or Third Party Content or any opinion,
                                    recommendation, or advice expressed therein, and GlobalARC expressly disclaims any and
                                    all liability arising from the User Content or Third Party Content. YOU HEREBY WAIVE,
                                    ANY LEGAL OR EQUITABLE RIGHTS OR REMEDIES YOU HAVE OR MAY HAVE AGAINST GLOBALARC WITH
                                    RESPECT THERETO, AND WILL INDEMNIFY AND HOLD GLOBALARC AND ITS LICENSORS HARMLESS TO
                                    THE FULLEST EXTENT ALLOWED BY LAW REGARDING ALL MATTERS RELATED TO THE USER CONTENT AND/OR
                                    THE USE OF THE SERVICE.</li>
                        </ul>

                        <h3 class="font-thin m-t-lg">GLOBALARC PROPRIETARY RIGHTS</h3>
                        <p>As between GlobalARC and you, GlobalARC or its licensors own and reserve all right, title and interest
                            in and to the Service and all hardware, software and other items used to provide the Service,
                            including any Third Party Content we provide to you, other than the rights explicitly granted
                            to you to use the Service in accordance with this Terms. No title to or ownership of any proprietary
                            rights related to the Service is transferred to you pursuant to these Terms. All rights not explicitly
                            granted to you are reserved by GlobalARC. In the event that you provide comments, suggestions
                            and recommendations to GlobalARC with respect to the Service (including, without limitation,
                            with respect to modifications, enhancements, improvements and other changes to the Service) (collectively,
                            "
                            <b>Feedback</b>"), You hereby grant to GlobalARC a world-wide, royalty free, irrevocable, perpetual
                            license to use and otherwise incorporate any Feedback in connection with the Service.</p>
                        <h3 class="font-thin m-t-lg">13. PRIVACY</h3>
                        <ul>
                            <li>
                                (a) In order to operate and provide the Service, we collect certain information about you. As part of the Service, we may
                                also automatically upload information about your computer or device, your use of the Service,
                                and Service performance. We use and protect that information as described in the Privacy
                                Policy located on the <a href="https://www.globalarc.us"
                                    class="text-info">www.globalarc.us</a> site. You further acknowledge and agree that we may
                                access or disclose information about you, including the content of your communications, in
                                order to:
                                <ul>
                                    <li>(i) comply with the law or respond to lawful requests or legal process;</li>
                                    <li>(ii) protect the rights or property of GlobalARC or our customers, including the enforcement
                                        of our agreements or policies governing your use of the Service; or</li>
                                    <li>(iii) act on a good faith belief that such access or disclosure is necessary to protect
                                        the personal safety of GlobalARC employees, customers, or the public.</li>
                                </ul>
                            </li>
                            <li>
                                (b) We retain the right to block or otherwise prevent delivery of any type of file, email or other communication to or from
                                the Service as part of our efforts to protect the Service, protect our customers, or stop
                                you from breaching these Terms. The technology or other means we use may hinder or break
                                your use of the Service.</li>
                        </ul>
                        <h3 class="font-thin m-t-lg">14. NO WARRANTY</h3>
                        <ul>
                            <li>
                                (a) GLOBALARC, ITS AFFILIATES, AND EACH OF THEIR RESPECTIVE PAST AND PRESENT OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES,
                                AGENTS, LICENSORS, SUPPLIERS, SUCCESSORS AND ASSIGNS (COLLECTIVELY, THE "<b>GLOBALARC PARTIES</b>")
                                PROVIDE THE SERVICE AND USER CONTENT AND THIRD PARTY CONTENT "AS IS", "WITH ALL FAULTS" AND
                                "AS AVAILABLE". TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE GLOBALARC PARTIES
                                MAKE NO (AND SPECIFICALLY DISCLAIMS ALL) REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER
                                EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION:
                                <ul>
                                    <li>(A) ANY REPRESENTATION OR WARRANTY:
                                        <ul>
                                            <li>(I) RELATING TO THE TRANSMISSION OR DELIVERY OF THE SERVICE; </li>
                                            <li>(II) RELATING TO DELAYS, INTERRUPTIONS, ERRORS, OR OMISSIONS (OR THE LACK THEREOF)
                                                IN THE SERVICE, OR ANY PART THEREOF;</li>
                                            <li>(III) THAT THE SERVICE, USER CONTENT OR THIRD PARTY CONTENT WILL BE UNINTERRUPTED,
                                                ERROR-FREE OR FREE OF HARMFUL COMPONENTS;</li>
                                            <li>(IV) THAT THE USER CONTENT WILL BE SECURE OR NOT OTHERWISE LOST OR DAMAGED;</li>
                                            <li>(V) RELATING TO THE TRANSMISSION OR DELIVERY OF THE SERVICE;</li>
                                            <li>(VI) RELATING TO PERFORMANCE, NONPERFORMANCE, OR OTHER ACTS OR OMISSIONS OF THE
                                                GLOBALARC PARTIES AND
                                            </li>
                                            <li>(VII) THAT THE SERVICE WILL MEET YOUR NEEDS OR REQUIREMENTS OR THE NEEDS OR REQUIREMENTS
                                                OF ANY OTHER PERSON;</li>
                                        </ul> OR </li>
                                    <li>
                                        (B) ANY IMPLIED WARRANTY OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT,
                                        AND ANY WARRANTY ARISING OUT OF ANY COURSE OF PERFORMANCE, COURSE OF DEALING OR USAGE
                                        OF TRADE. SOME JURISDICTIONS DO NOT ALLOW THE FOREGOING EXCLUSIONS. IN SUCH JURISDICTIONS,
                                        THE FORGOING EXCLUSIONS ARE LIMITED AS REQUIRED BY LAW. </li>
                                </ul>
                            </li>
                            <li>
                                (b) NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM GLOBALARC OR THROUGH THE SERVICE WILL CREATE
                                ANY GLOBALARC WARRANTY. YOUR USE, ACCESS, DOWNLOAD, OR OTHERWISE OBTAINING INFORMATION, MATERIALS,
                                OR DATA THROUGH THE SERVICE (INCLUDING RSS FEEDS) OR ANY THIRD-PARTY SERVICES IS AT YOUR
                                OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY
                                (INCLUDING YOUR COMPUTER SYSTEM OR UNMANNED AERIAL VEHICLE) OR LOSS OF DATA THAT RESULTS
                                FROM THE DOWNLOAD OR USE OF SUCH MATERIAL OR DATA.</li>
                            <li>
                                (c) YOU ARE SOLELY RESPONSIBLE FOR YOUR OWN CONDUCT BOTH IN USING THE SERVICES AND IN ANY ACTIVITIES RELATED TO USING THE
                                SERVICES, INCLUDING BUT NOT LIMITED TO FLYING AN UNMANNED AERIAL VEHICLE. GLOBALARC MAY PROVIDE
                                A MAP AS A PART OF THE SERVICES. THE MAP AND ALL RELATED SERVICES ARE TO BE FOR PLANNING
                                PURPOSES ONLY AND DO NOT REPLACE YOUR OWN JUDGMENT ABOUT WHETHER IT IS SAFE TO FLY AT THAT
                                TIME OR WHETHER YOU ARE PERMITTED TO FLY IN THAT LOCATION. YOU ARE STILL INDIVIDUALLY AND
                                SOLELY RESPONSIBLE FOR KNOWING AND COMPLYING WITH ANY LOCAL, STATE, FEDERAL, OR INTERNATIONAL
                                LAWS GOVERNING YOUR ABILITY TO FLY AN UNMANNED AERIAL VEHICLE AND GLOBALARC SPECIFICALLY
                                DISCLAIMS THAT ANY INFORMATION PRESENTED ON THE SERVICES IS MERELY ADVICE AND MAY NOT REFLECT
                                THE CURRENT STATE OF THE LAW IN YOUR JURISDICTION.</li>
                        </ul>
                        <h3 class="font-thin m-t-lg">15. INDEMNIFICATION</h3>
                        <ul>
                            <li>(a) You will indemnify, defend and hold harmless the GlobalARC Parties from and against any losses,
                                claims, damages, liabilities, including legal fees and expenses, arising out of:
                                <ul>
                                    <li>(i) any claim due to or arising out of your violation of these Terms, including but not
                                        limited to a claim arising out of a breach of your representations or warranties
                                        made hereunder;</li>
                                    <li>(ii) your use or misuse of or access to the Service;</li>
                                    <li>(iii) your violation of any law, regulation or third party right, including without limitation
                                        any copyright, property, or privacy right;</li>
                                    <li>(iv) any claim that you or your Content caused damage to a third party; or,</li>
                                    <li>(v) any other of your activities or omissions.</li>
                                </ul>
                            </li>
                            <li>(b) GlobalARC reserves the right, at your expense, to assume the exclusive defense and control
                                of any matter for which you are required to indemnify GlobalARC, and you will cooperate with
                                GlobalARC's defense of these claims.</li>
                        </ul>
                        <h3 class="font-thin m-t-lg">16. LIMITATION OF LIABILITY</h3>
                        <p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL GLOBALARC, ITS AFFILIATES, OFFICERS, EMPLOYEES,
                            AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE,
                            COVER OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, REVENUE,
                            GOODWILL, LOSS OR USE OR USER CONTENT) HOWEVER CAUSED, UNDER ANY THEORY OF LIABILITY, INCLUDING,
                            WITHOUT LIMITATION, CONTRACT, TORT, WARRANTY, NEGLIGENCE OR OTHERWISE, EVEN IF GLOBALARC HAS
                            BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE
                            LAW, THE AGGREGATE LIABILITY OF GLOBALARC AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS
                            OR LICENSORS, RELATING TO THE SERVICES WILL BE LIMITED TO THE GREATER OF AN AMOUNT EQUAL TO TWELVE
                            MONTHS OF YOUR SERVICE FEE FOR THE SERVICE OR FIVE DOLLARS ($5.00). THE LIMITATIONS AND EXCLUSIONS
                            ALSO APPLY IF THIS REMEDY DOES NOT FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL
                            PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF INCIDENTAL, CONSEQUENTIAL OR OTHER
                            DAMAGES. IN SUCH AN EVENT THIS LIMITATION WILL NOT APPLY TO YOU TO THE EXTENT PROHIBITED BY LAW.</p>
                        <h3 class="font-thin m-t-lg">17. GOVERNING LAW; LOCATION FOR RESOLVING DISPUTES</h3>
                        <p>The laws of the State of New York govern the interpretation of these Terms and apply to claims for
                            breach of these Terms, regardless of conflict of laws principles. The parties specifically exclude
                            from application to these Terms the United Nations Convention on Contracts for the International
                            Sale of Goods and the Uniform Computer Information Transactions Act. If you reside in the United
                            States, any dispute arising out of or relating to these Terms or your access to or use of the
                            Service will be subject to the exclusive jurisdiction of the state and federal courts in the
                            State of New York, and you hereby submit to the personal jurisdiction of such courts. If you
                            do not reside in the United States, any dispute arising out of or relating to these Terms or
                            your access to or use of the Service will be resolved by binding arbitration administered in
                            New York, NY. YOU MUST COMMENCE ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICE
                            WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY
                            BARRED.
                        </p>
                        <h3 class="font-thin m-t-lg">18. NOTICES</h3>
                        <p>We may send you, in electronic form, information about the Service, additional information, and information
                            the law requires us to provide. We may provide required information to you by email at the address
                            you specified when you signed up for the Service or by access to a website that we identify.
                            Notices emailed to you will be deemed given and received when the email is sent. If you don't
                            consent to receive notices electronically, you must stop using the Service. You may provide legal
                            notice to us via email to <a href="mailto:contact@globalarc.us">contact@globalarc.us</a> with
                            a duplicate copy sent via registered mail, return receipt requested, to the following address:
                            Attn: <b>Easy Aerial, 95 Commercial Str. 11222, Brooklyn, New York</b> . Any such notice, in
                            either case, must specifically reference that it is a notice given under these Terms.
                        </p>
                        <h3 class="font-thin m-t-lg">19. PAYMENTS AND REFUNDS</h3>
                        <ul>
                            <li>(a) The fees applicable for the Service ("<b>Fees</b>") are available on the Site and/or in GlobalARC's
                                then-current published price list. The price stated for the Service excludes all taxes and
                                charges, unless stated otherwise and is listed in U.S. Dollars. You will pay the applicable
                                Fees in U.S. dollars when due. You're responsible for any taxes and for all other charges
                                (for example, data charges and currency exchange settlements).</li>
                            <li>(b) In addition to any Fees, you may still incur charges incidental to using the Service, for
                                example, charges for Internet access, data roaming, and other data transmission charges.
                            </li>
                            <li>(c) You must be authorized to use the payment method that you enter when you sign up for a GlobalARC
                                billing account. You authorize us to charge you for the Service using your payment method
                                and for any paid feature of the Service that you choose to sign up for or use while these
                                Terms are in force. We may bill:
                                <ul>
                                    <li> (i) in advance;</li>
                                    <li>(ii) at the time of purchase;</li>
                                    <li>(iii) shortly after purchase; or</li>
                                    <li>(iv) on a recurring basis for subscription Services.</li>
                                </ul> Also, we may charge you up to the amount you've approved, and we'll notify you in advance
                                of the difference for recurring subscription Services. We may bill you simultaneously for
                                more than one of your prior billing periods. Once we have informed you that the Service will
                                be provided indefinitely or automatically renewed, we may automatically renew your Service
                                and charge you for any renewal term.</li>
                            <li>(d) You will keep all information in your billing account current. If you tell us to stop using
                                your payment method and we no longer receive payment from you for the paid Service, we may
                                cancel that Service. Your notice to us will not affect charges we submit to your billing
                                account before we reasonably could act on your request.</li>
                            <li>(e) We'll notify you in advance, either through the Service or to the email address you have
                                most recently provided to us, if we change the price of the Service. If there's a specific
                                length and price for your Service offer, that price will remain in force for that time. After
                                the offer period ends, your use of the Service will be charged at the new price. If your
                                Service is on a period basis (for example, monthly) with no specific length, we'll notify
                                you of any price change at least thirty (30) days in advance. If you don't agree to these
                                changes, you must cancel and stop using the Service no later than fourteen (14) days prior
                                to the conclusion of your current payment term, whether monthly, yearly, or otherwise. If
                                you cancel, your Service ends at the end of your current Service period or, if we bill your
                                account on a period basis, at the end of the period in which you canceled. If you fail to
                                cancel as required, we will automatically renew the Service for the same term and will charge
                                your payment information on file with us commencing on the first day of the renewal term.</li>
                            <li>(f) Unless we notify you otherwise, if you're participating in any trial period offer, you must
                                upgrade the Service by the end of the trial period to continue to use the Service. If you
                                do not upgrade your Service before the trial period ends, we reserve the right to downgrade
                                or cancel your account.</li>
                            <li>(g) Except as specifically set forth in these Terms, all Services are prepaid for the period
                                selected (monthly, yearly or otherwise) and are non-refundable. This includes accounts that
                                are renewed.</li>
                            <li>(h) If you are a non-trial user you will not be issued a refund for your most recent (or any
                                previous) billing. To cancel or downgrade, follow instructions on www.globalarc.us</li>
                            <li>(i) Except as prohibited by law, we may assess a late charge if you do not pay on time. You must
                                pay these late charges when we bill you for them. The late charge will be the lesser of 1
                                percent of the unpaid amount each month or the maximum rate permitted by law. We may use
                                a third party to collect past due amounts. You must pay for all reasonable costs we incur
                                to collect any past due amounts, including reasonable attorneys' fees and other legal fees
                                and costs. We may suspend or cancel your Service if you fail to pay in full on time.</li>
                        </ul>
                        <h3 class="font-thin m-t-lg">20. MISCELLANEOUS</h3>
                        <h4 class="font-thin m-t-lg">20.1. Severability; Entire Agreement</h4>
                        <p> These Terms apply to the maximum extent permitted by relevant law. If a court holds that we cannot
                            enforce a part of these Terms as written, you and we will replace those terms with similar terms
                            to the extent enforceable under the relevant law, but the rest of these Terms will remain in
                            effect. This is the entire contract between you and us regarding the Service. It supersedes any
                            prior contract or oral or written statements regarding your use of the Service.</p>
                        <h4 class="font-thin m-t-lg">20.2. Assignment and transfer</h4>
                        <p> We may assign, transfer, or otherwise dispose our rights and obligations under this contract, in
                            whole or in part, at any time without notice. You may not assign this contract or transfer any
                            rights to use the Service.</p>
                        <h4 class="font-thin m-t-lg">20.3. Independent Contractors;<p> No third-party beneficiaries</h4> GlobalARC and you are not legal partners or agents; instead, our relationship is that of independent
                        contractors. This contract is solely for your and our benefit. It is not for the benefit of any other
                        person, except for permitted successors.</p>
                        <h4 class="font-thin m-t-lg">20.4. Claims</h4>
                        <p> Claims must be filed within one year. You must bring any claim related to these Terms or the Service
                            within one year of the date you could first bring the claim, unless your local law requires a
                            longer time to file claims. If it isn't filed in time, the claim is permanently barred.</p>
                        <h4 class="font-thin m-t-lg">20.5. Waiver</h4>
                        <p> The failure of either party to insist upon or enforce strict performance of any of the provisions
                            of these Terms or to exercise any rights or remedies under these Terms will not be construed
                            as a waiver or relinquishment to any extent of such party's right to assert or rely upon any
                            such provision, right or remedy in that or any other instance; rather, the same will remain in
                            full force and effect.</p>
                        <h4 class="font-thin m-t-lg">20.6. Government Use</h4>
                        <p>If you are a U.S. government entity, you acknowledge that any Software and User Guides that are provided
                            are "Commercial Items" as defined at 48 C.F.R. 2.101, and are being provided as commercial computer
                            software subject to the restricted rights described in 48 C.F.R. 2.101 and 12.212.</p>
                        <h3 class="font-thin m-t-lg">21. INTELLECTUAL PROPERTY NOTICES</h3>
                        <p> All contents of the Site and Services including but not limited to design, text, software, technical
                            drawings, configurations, graphics, other files, and their selection and arrangement are: Copyright
                            © 2015 Easy Aerial, Inc., and/or the proprietary property of its suppliers, affiliates, or licensors.
                            All Rights Reserved.</p>
                        <p> GlobalARC and the GlobalARC logo are including without limitation, either trademarks, service marks
                            or registered trademarks of Easy Aerial, Inc., and may not be copied, imitated, or used, in whole
                            or in part, without Easy Aerial's prior written permission or that of our suppliers or licensors.
                            Other product and company names may be trade or service marks of their respective owners.</p>
                        <p class="m-b-xxl">
                            GlobalARC may have patents, patent applications, trademarks, copyrights, or other intellectual property rights covering subject
                            matter that is part of the Service. Unless we have granted you licenses to our intellectual property
                            in these Terms, our providing you with the Service does not give you any license to our intellectual
                            property. Any rights not expressly granted herein are reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <% include common/footer %>
            <% include common/scripts %>
            <% include ../common/intercom_loggedout %>
                <% include common/end %>