<footer id="footer" class="app-footer" role="footer">
    <div class="wrapper b-t">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left"><%- copyright %></div>
            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4 text-right"><a href="/terms" class="text-default">Terms of Service</a></div>
            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4 text-left"><a href="/privacy" class="text-default">Privacy Policy</a></div>
            
            <div class="col-lg-1  col-md-1 col-sm-1 col-xs-1 text-right">
                <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a>
            </div>
        </div>
    </div>
</footer>
