<header id="header" class="app-header navbar" role="menu">
    <!-- navbar small -->
    <div class="navbar-header bg-dark hidden-lg hidden-md hidden-sm">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <a href="/" class="navbar-brand text-lt">
            <img src="/assets/images/landing-logo.png">
        </a>
    </div>

    <!-- navbar large -->
    <div class="collapse pos-rlt navbar-collapse bg-white-only">
        <ul class="nav navbar-nav">
            <li class="hidden-xs">
                <a href="#" class="no-hover">
                    <img src="/assets/images/landing-logo.png">
                </a>
            </li>
            <li>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/about">
                    <span>About</span>
                </a>
            </li>

            <li>
                <a href="/pricing">
                    <span>Pricing</span>
                </a>
            </li>
            <% if(params.signup == true){%>
            <li class="pull-right">
                <a href="/pricing">
                    <span>Signup</span>
                </a>
            </li>
            <% } %>
            <li class="pull-right">
                <a href="/auth">
                    <span>Login</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- / navbar large -->
</header>