<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="utf-8" />
    <title><%= documentTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/js/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/website.css" type="text/css" />
</head>

<body>
    <div class="app app-header-fixed container">