</div>
<script src="/assets/js/jquery/jquery/dist/jquery.js"></script>
<script src="/assets/js/jquery/bootstrap/dist/js/bootstrap.js"></script>
<script src="/assets/js/theme/ui-load.js"></script>
<script src="/assets/js/theme/ui-jp.config.js"></script>
<script src="/assets/js/theme/ui-jp.js"></script>
<script src="/assets/js/theme/ui-nav.js"></script>
<script src="/assets/js/theme/ui-toggle.js"></script>
<script src="/assets/js/theme/ui-client.js"></script>
<script src="/assets/js/website.js"></script>