<!-- header -->
<header id="header" class="app-header navbar" role="menu">
    <!-- navbar header -->
    <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="/dashboard" class="navbar-brand text-lt">
            <img src="/assets/images/logo.png" alt="<%= appName %> Logo" class="main-logo">
            <span class="hidden-folded m-l-xs"><%= appName %></span>
            <div class="hover-logo"><%= appName %></div>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
                
                <i class="fa fa-indent fa-fw text"></i>
                <i class="fa fa-dedent fa-fw text-active"></i>
            </a>
            <a href="/dashboard" class="btn no-shadow navbar-btn">
                <i class="icon-home fa-fw"></i>
            </a>
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span> Projects</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/projects"><span>Projects</span></a></li>
                    <li class="divider"></li>
                    <% if(menuProjects.length == 0){%>
                        <li><a href="/projects/add"><span>Create New Project</span></a></li>
                    <% }else{ %>
                        <% for(var i=0; i<menuProjects.length; i++) { %>
                            <li><a href="/flightplans/all/<%= menuProjects[i].id %>"><span><%= menuProjects[i].name %></span></a></li>
                        <% } %>
                        <li class="divider"></li>
                        <li><a href="#" onclick="checkPlanProjects('/projects/add');"><span>Create New Project</span></a></li>
                    <% } %>               
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span> Personnel</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><%- companyMenu %></li>
                    <% if(permission == 'Administrator'){%>
                    <li class="divider"></li>
                    <% } %>
                    <% for(var i=0; i < menuMembers.length; i++) { %>
                        <% if(menuMembers[i].archived == '0'){%>
                        <li><a href="/team/get/<%= menuMembers[i].id %>"><span><% if(menuMembers[i].name != '' && menuMembers[i].name != undefined && menuMembers[i].name != 'null'){%><%= menuMembers[i].name %><% }else{%><%= menuMembers[i].google_display_name %><% } %></span></a></li>
                        <% } %>
                    <% } %>
                    <% if(permission == 'Administrator'){%>
                    <li class="divider"></li>
                    <li><a href="#" onclick="checkPlanUsers('/team/add');"><span>Invite New Member</span></a></li>
                    <% } %>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span> Equipment</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/vehicles"><span>Vehicles</span></a></li>
                    <li><a href="/batteries"><span>Batteries</span></a></li>
                    <li class="divider"></li>
                    <li><a href="/vehicles/add"><span>Create New Vehicle</span></a></li>
                    <li class="divider"></li>
                    <li><a href="/batteries/add"><span>Create New Battery</span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span> Documents</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/documents"><span>Documents</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="checkPlanStorageSpace('/documents/add');"><span>Upload New Document</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/reports">
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span> Reports</span>
                </a>
            </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <!--
            <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </form>
        -->
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <% if(permission == 'Administrator'){%>
                <a href="/user/settings" class="btn btn-sm m-b-xs w-xs btn-danger pull-left m-t-sm" style="margin-right:27px;" ><span style="font-size:13px;">Change Plan</span></a>
            <% } %>
            
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                        <img src="<%= userPhoto %>" id="userPhoto">
                    </span>
                    <span class="hidden-sm hidden-md" id="userDisplayName"><%= userDisplayName %></span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w">
                    <% if(permission == 'Administrator'){%>
                    <li>
                        <a href="/user/settings"><span>Settings</span></a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/user/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/logout">Logout</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
            
            
        </ul>
        <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
</header>
<!-- / header -->

