<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title><%= documentTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin-ext,latin">
    <link type="text/css" rel="stylesheet" href="/assets/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/simple-line-icons.css" />
    <link type="text/css" rel="stylesheet" href="/assets/js/jquery/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/assets/js/jquery/dropzone/dropzone.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/hopscotch.css"></link>
    <link rel="shortcut icon" href="">
    
