    <link type="text/css" rel="stylesheet" href="/assets/css/app.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
  <div ui-butterbar="" class="butterbar" id="loader-metadata"><span class="bar"></span></div>
  <div class="app app-header-fixed app-aside-folded">