<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Pre-Flight Checklist
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Interactive Flight Planning Map
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 1 User
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 1 Project
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 5 Flights /month
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Live Video Stream
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> Forum Support
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 10 MB doc storage
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> No NOTAM
</li>
<li class="list-group-item">
    &nbsp;
</li>