<p class="font-bold m-t-lg">Used Features</p>
<div class="col wrapper-lg w-xxl bg-light dk r-r">
    <div>
        <div class="m-b-sm">
            <span class="pull-right text-success font-bold"><%= numOfUsers %></span>
            <span>Users</span>
        </div>
        <div class="m-b-sm">
            <span class="pull-right text-info font-bold"><%= numOfProjects %></span>
            <span>Projects</span>
        </div>
        <div class="m-b-md">
            <span class="pull-right text-primary font-bold"><%= numOfFlights %></span>
            <span>Flights</span>
        </div>
        <div>
            <span class="pull-right text-danger font-bold"><%= storagePercent %> (<%= storageHumanSize %>)</span>
            <span>Doc Storage</span>
        </div>
        <div class="progress progress-xs m-t-sm bg-white">
            <div class="progress-bar bg-danger" data-toggle="tooltip" data-original-title="<%= storagePercent %>" style="width: <%= storagePercent %>"></div>
        </div>
    </div>
</div>