<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Pre-Flight Checklist
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Interactive Flight Planning Map
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 5 Users
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 5 Projects
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 15 Flights /month
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Live Stream + Share
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> Email Support
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 100 MB doc storage
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> PDF NOTAM Report
</li>
