<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Pre-Flight Checklist
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Interactive Flight Planning Map
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Unlimited Users
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Unlimited Projects
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Unlimited Flights/month
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> Live Stream + Share
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> Live Support
</li>
<li class="list-group-item">
    <i class="icon-check text-success m-r-xs"></i> 1 GB doc storage
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> Automated NOTAM Submission
</li>
<li class="list-group-item">
    <i class="icon-wrench text-warning m-r-xs"></i> Secure Private Video Server
</li>