<!-- right col -->
<div class="col w-md bg-white dk bg-auto hidden-xs hidden-sm">
    <div class="wrapper">
        <div id="right-sidebar" >
            <% if(currentFlights.length > 0){%>
                <div class="text-md text-default">Live Flights</div>
                <ul class="list-group no-bg no-borders pull-in m-b-xxl b-b">
                    <% for(var i = 0; i < currentFlights.length; i++) { %>
                    <li class="list-group-item">
                        <a href="/flightplans/view/<%= currentFlights[i].id %>" class="img-full"><img src="<%= currentFlights[i].snapshot %>"></a>
                        <a href="/flightplans/view/<%= currentFlights[i].id %>"><%= currentFlights[i].name %></a>
                    </li>
                    <% } %>
                </ul> 
            <% } %>
            <% if(pastFlights.length > 0){%>
                <div class="text-md text-default">Recent Flights</div>
                <ul class="list-group no-bg no-borders pull-in m-b-xxl b-b">
                    <% for(var i = 0; i < pastFlights.length; i++) { %>
                    <li class="list-group-item">
                        <a href="/flightplans/view/<%= pastFlights[i].id %>" class="img-full"><img src="<%= pastFlights[i].snapshot %>"></a>
                        <a href="/flightplans/view/<%= pastFlights[i].id %>"><%= pastFlights[i].name %></a>
                    </li>
                    <% } %>
                </ul> 
            <% } %>
            <% if(futureFlights.length > 0){%>
                <div class="text-md text-default">Planned Flights</div>
                <ul class="list-group no-bg no-borders pull-in m-b-xxl b-b">
                    <% for(var i = 0; i < futureFlights.length; i++) { %>
                    <li class="list-group-item">
                        <a href="/flightplans/view/<%= futureFlights[i].id %>" class="img-full"><img src="<%= futureFlights[i].snapshot %>"></a>
                        <a href="/flightplans/view/<%= futureFlights[i].id %>"><%= futureFlights[i].name %></a>
                    </li>
                    <% } %>
                </ul> 
            <% } %>
            
        </div>
    </div>
</div>
<!-- / right col -->