<script src="/assets/js/jquery/jquery/dist/jquery.js"></script>

<script src="/assets/js/jquery/jquery.validation/jquery.validate.min.js"></script>
<script src="/assets/js/jquery/bootstrap/dist/js/bootstrap.js"></script>
<script src="/assets/js/theme/ui-load.js"></script>
<script src="/assets/js/theme/ui-jp.config.js"></script>
<script src="/assets/js/theme/ui-jp.js"></script>
<script src="/assets/js/theme/ui-nav.js"></script>
<script src="/assets/js/theme/ui-toggle.js"></script>
<script src="/assets/js/theme/ui-client.js"></script>
<script src="/assets/js/jquery/copytoclipboard/clipboard.min.js"></script>
<script>
    $(document).ready(function(){        
        if($('#copyToClipboard').length > 0){
            var clipboard = new Clipboard('#copyToClipboard');
            clipboard.on('success', function(e) {
                alert("Access Code copied to clipboard!");
            });
        }
    });
    
</script>
<% if(sample){%>
    <script src="/assets/js/tour/hopscotch.js"></script>
    <script type="text/javascript">
        var pID = <%= sampleProjectID %>;
        var fID = <%= sampleFlightplanID %>;
    </script>
    <script src="/assets/js/tour/tour.js"></script>
    <% } %>
        <script src="/assets/js/functions.js"></script>