<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- nav -->
            <% if (accessCode.length > 0 || groupName.length > 0 || unitID.length > 0) { %>
            <nav ui-nav class="navi clearfix m-t-xxl">
                <ul class="nav">
                    <% if (accessCode.length > 0) { %>
                    <li class="accesskey">
                        <div>
                            <i class="fa fa-lock icon text-white"></i>
                            <span class="text-white ac-text">Access Code </span>
                            <span class="bg-danger text-white wrapper-xs block m-t-sm m-b-sm text-center font-bold ac-code" ><%= accessCode %></span>
                        </div>
                        <ul class="nav nav-sub dk">
                            <li class="nav-sub-header">
                                <span class="text-white text-center block p-t-sm">Access Code</span>
                                <span class="bg-danger text-white wrapper-xs block m-t-sm text-center font-bold selectable-text"><%= accessCode %></span>
                            </li>
                            
                        </ul>
                    </li>
                    <% } %>
                    <% if (groupName.length > 0) { %>
                        <li class="accesskey" id="tour-dashboard-accesskey">
                            <div>  
                                <i class="fa fa-group text-white text-bold"></i>
                                <span class="text-white ac-text">Group Name</span>
                                <span class="bg-success text-white wrapper-xs block m-t-sm m-b-sm text-center font-bold ac-code"><%= groupName %></span>
                            </div>
                            <ul class="nav nav-sub dk selectable-text">
                                <li class="nav-sub-header">
                                    <span class="text-white text-center block p-t-sm">Group Name</span>
                                    <span class="bg-success text-white wrapper-xs block m-t-sm text-center font-bold"><%= groupName %></span>
                                </li>
                                
                            </ul>
                        </li>
                    <% } %>
                    <% if (unitID.length > 0) { %>
                        <li class="accesskey">
                            <div>      
                                <i class="glyphicon glyphicon-user text-white text-bold"></i>
                                <span class="text-white  ac-text">Your Unit ID <i class="glyphicon glyphicon-pencil m-l-sm pointer pull-right" onclick="changeMemberUnitID();"></i></span>
                                <span class="bg-primary text-white wrapper-xs block m-t-sm m-b-sm text-center font-bold  ac-code" id="spanmemberID1"><%= unitID %></span>
                            </div>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <span class="text-white text-center block p-t-sm">Your Unit ID <i class="glyphicon glyphicon-pencil m-l-sm pointer" onclick="changeMemberUnitID();"></i></span>
                                    <span class="bg-primary text-white wrapper-xs block m-t-sm text-center font-bold selectable-text" id="spanmemberID2"><%= unitID %></span>
                                </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <% } %>
            <!-- nav -->
        </div>
    </div>
</aside>
<!-- / aside -->