<% if (warning.length > 0) { %>
    <div class="alert alert-warning m-b-none" id="warning">
        <button type="button" class="close" onclick="closeWarning();">
            <span>×</span>
            <span class="sr-only">Close</span>
        </button>
        <div><span><%- warning %></span></div>
    </div>
<% } %>
