/* Override default control style */

.mapbox-gl-draw_ctrl-bottom-left, .mapbox-gl-draw_ctrl-top-left {
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}

.mapbox-gl-draw_ctrl-top-right, .mapbox-gl-draw_ctrl-bottom-right {
  margin-right: 0;
  border-radius: 4px 0 0 4px;
}

.mapbox-gl-draw_ctrl-draw {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.9);
}

.mapbox-gl-draw_ctrl-draw > button {
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mapbox-gl-draw_ctrl-draw > button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.mapbox-gl-draw_ctrl-draw > button.active, .mapbox-gl-draw_ctrl-draw > button.active:hover {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  cursor: pointer;
}

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon {
  display: block !important;
}

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon.disabled {
  display: none !important;
}

.mapbox-gl-draw_ctrl-draw-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('images/spritesheet.png');
}

.mapbox-gl-draw_point {
  background-position: -120px 0px;
}

.mapbox-gl-draw_polygon {
  background-position: -29px 0px;
}

.mapbox-gl-draw_line {
  background-position: 0px 0px;
}

.mapbox-gl-draw_trash {
  background-position: -179px 0px;
}

.mapboxgl-map.mode-simple_select.feature-feature.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: move;
}

.mapboxgl-map.mode-simple_select.feature-vertex.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-map.mode-direct_select.feature-vertex.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: pointer;
}

.mapboxgl-map.mode-direct_select.feature-midpoint.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: cell;
}

.mapboxgl-map.mode-draw_point .mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-map.mode-draw_line_string .mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-map.mode-draw_polygon .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: crosshair;
}