<% include ../common/metadata_start %>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.css' type='text/css' />
<link href='/assets/js/maps/mapbox-gl-draw.css' rel='stylesheet' />
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">

            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1 class="m-n font-thin h3 pull-left"><%- params.header %></h1>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-<%= color %>" id="message">
                            <button type="button" class="close" onclick="closeMessage();">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div><span><%- message %></span></div>
                        </div>
                    <% } %>
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Flight Plan Info</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <div class="form-group" id="flight_location">
                                            <label id="locationLabel">Location</label>
                                            <div style="height:60px">
                                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 p-l-none p-r-none hidden" id="locationInputContainer">
                                                    <input type="text" id="location_name_input" name="location_name_input" class="form-control" placeholder="Enter flight location name" required>
                                                    <label id="location-name-error" class="error" for="location_name_input" style="display:none;">Location name is required.</label>
                                                </div>
                                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 p-l-none p-r-none" id="locationSelectContainer" >
                                                    <select class="form-control" id="locationSelect" onchange="setLocationCoordinates(this.value);">
                                                        <% for(var i = 0; i < params.locations.length; i++){%>
                                                            <option value="<%=params.locations[i].id%>" <% if(params.locations[i].id == params.flightplan.location_id){%>selected="selected"<%}%>><%=params.locations[i].name%></option>
                                                        <% } %>
                                                    </select>
                                                    <label id="location-select-error" class="error" style="display:none;">Please, select location.</label>
                                                </div>
                                                
                                                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 text-right  p-r-none">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-none p-r-none hidden" id="buttonsContainer">
                                                        <a href="#" class="btn btn-info w-full" onclick="setPreviousLocationsDropdown(<%= params.projectID %>);" id="previousLocationsButton">Previous Locations</a>
                                                        <a href="#" class="btn btn-info w-full hidden" onclick="setNewLocationInput();" id="newLocationButton">New Location</a>
                                                    </div>
                                                    
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  m-t-xs"  id="radiosContainer">
                                                        <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="saveas" id="saveasSave" value="save" onclick="saveLocationAs(this.value);" checked="checked">
                                                                    Save As Is
                                                                </label>
                                                            </div>
                                                        <div class="radio-inline">
                                                            <label>
                                                                <input type="radio" name="saveas" id="saveasOld" value="old" onclick="saveLocationAs(this.value);" >
                                                                Overwrite
                                                            </label>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <label>
                                                                <input type="radio" name="saveas" id="saveasNew" value="new" onclick="saveLocationAs(this.value);">
                                                                Save as New
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-light b-a">
                                                <div id="map" style="visibility:hidden;"></div>
                                                <div id="map-loader" class="hidden"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                                            </div>
                                            <a href="#" onclick="centerMap();" id="center-map"  class="left" title="Center map to location"  style="visibility:hidden;"><i class="icon icon-target text-info"></i></a>
                                            <div id="map-image" class="hidden"><img src=""/></div>
                                            <div id="map-layers" style="visibility:hidden;">
                                                <a href="#" id="map-layers-button"><i class="icon icon-layers"></i></a>
                                                <ul>
                                                    <li>
                                                        <div id="mapType">
                                                            <input id="standard" type="radio" name="rtoggle" value="standard" checked="checked">
                                                            <label for="standard" class="m-r-xs">Streets</label>
                                                            <input id="satellite" type="radio" name="rtoggle" value="satellite">
                                                            <label for="satellite">Satellite</label>
                                                        </div>
                                                    </li>
                                                    <li id="selectall">
                                                        <div class="checkbox m-r-md  m-b-xs text-right">
                                                            <label>
                                                                <input type="checkbox" value="1" id="selectalltext" onclick="toggleAllLayers();">
                                                                Select All
                                                            </label>
                                                        </div>
                                                        
                                                    </li>
                                                    <li class="title m-t-md">Airports</li>                                                    
                                                    <li>
                                                        <a href="#" data-layer="airports_recreational" onclick="toggleLayer('airports_recreational');"><i class="fa fa-circle m-r-sm text-info"></i>Public Airports (Recreational Rules)</a> 
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('recreational');"><i class="icon-question airmap"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="airports_commercial" onclick="toggleLayer('airports_commercial');"><i class="fa fa-circle m-r-sm text-info"></i>Public Airports (Commercial Rules)</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('commercial');"><i class="icon-question airmap"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="airports_recreational_private" onclick="toggleLayer('airports_recreational_private');"><i class="fa fa-circle m-r-sm text-info"></i>Private Airports (Recreational Rules)</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('recreational');"><i class="icon-question airmap"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="airports_commercial_private" onclick="toggleLayer('airports_commercial_private');"><i class="fa fa-circle m-r-sm text-info"></i>Private Airports (Commercial Rules)</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('commercial');"><i class="icon-question airmap"></i></a>
                                                    </li>
                                                    
                                                    <li class="title">Controlled Airspace <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('controlled');"><i class="icon-question airmap m-l-sm"></i></a></li>
                                                    <li>
                                                        <a href="#" data-layer="class_b" onclick="toggleLayer('class_b');"><i class="fa fa-circle m-r-sm text-info"></i>Class B</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="class_c" onclick="toggleLayer('class_c');"><i class="fa fa-circle m-r-sm text-info"></i>Class C</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="class_d" onclick="toggleLayer('class_d');"><i class="fa fa-circle m-r-sm text-info"></i>Class D</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="class_e0" onclick="toggleLayer('class_e0');"><i class="fa fa-circle m-r-sm text-info"></i>Class E to Ground</a>
                                                    </li>
                                                    
                                                    <li class="title">Cautionary</li>
                                                    <li>
                                                        <a href="#" data-layer="sua_prohibited" onclick="toggleLayer('sua_prohibited');"><i class="fa fa-circle m-r-sm text-info"></i>Prohibited Special Use Airspace</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('prohibited');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="sua_restricted" onclick="toggleLayer('sua_restricted');"><i class="fa fa-circle m-r-sm text-info"></i>Restricted Special Use Airspace</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('restricted');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="national_parks" onclick="toggleLayer('national_parks');"><i class="fa fa-circle m-r-sm text-info"></i>National Parks</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('parks');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="noaa" onclick="toggleLayer('noaa');"><i class="fa fa-circle m-r-sm text-info"></i>NOAA Marine Protection Areas</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('marine');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    
                                                    
                                                    <li class="title">Advisory</li>
                                                    <li>
                                                        <a href="#" data-layer="hospitals" onclick="toggleLayer('hospitals');"><i class="fa fa-circle m-r-sm text-info"></i>Hospitals</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('hospitals');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="heliports" onclick="toggleLayer('heliports');"><i class="fa fa-circle m-r-sm text-info"></i>Heliports</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('heliports');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="power_plants" onclick="toggleLayer('power_plants');"><i class="fa fa-circle m-r-sm text-info"></i>Power Plants</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('powerplants');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="parcels" onclick="toggleLayer('parcels');"><i class="fa fa-circle m-r-sm text-info"></i>Private properties</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-layer="schools" onclick="toggleLayer('schools');"><i class="fa fa-circle m-r-sm text-info"></i>Schools</a>
                                                        <a href="#" data-toggle="modal" data-target="#modal-airmap" onclick="setAirmapInfo('schools');"><i class="icon-question airmap m-l-sm"></i></a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                            
                                        </div>
                                        <label id="map-error" class="error" style="display:none; right:14px; margin-top:-6px;">Draw flight location on a map.</label>
                                    </div>
                                </div>
                                <form method="POST" name="form" class="form-validation"  id="flightplan-form">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="col-lg-12  m-b-md">
                                            <div class="col-lg-8 m-b-sm">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Enter flightplan name" required value="<%= params.flightplan.name %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 m-b-sm">
                                                <div class="form-group">
                                                    <label>Group Name</label>
                                                    <input type="text" name="group_name" class="form-control" placeholder="Enter flightplan group name" required value="<%= params.flightplan.group_name %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 b-t b-light">
                                            <div class="col-lg-6 m-t-md">
                                                <div class="form-group">
                                                    <label>Start Time</label>
                                                    <div class="input-group" id="starttime" ui-jq="datetimepicker" ui-options="{
                                                            format: 'MM/DD/YYYY h:mm:ss A',
                                                            sideBySide: true
                                                        }">
                                                        <input name="start_time" class="form-control w-md active" required value="<%= params.startTime %>" placeholder="MM/DD/YYYY hh:mm:ss AM">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 m-t-md">
                                                <div class="form-group">
                                                    <label>End Time</label>
                                                    <div class="input-group" id="endtime" ui-jq="datetimepicker" ui-options="{
                                                            format: 'MM/DD/YYYY h:mm:ss A',
                                                            sideBySide: true
                                                        }">
                                                        <input name="end_time" class="form-control w-md active" required value="<%= params.endTime %>" placeholder="MM/DD/YYYY hh:mm:ss AM">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="time-error" class="text-danger m-b-md col-lg-12"></div>
                                        </div>
                                       
                                        <div class="col-lg-12 b-t b-light">
                                            <div class="col-lg-12 m-t-md m-b-md">
                                                <div class="form-group">Team</div>
                                                <div class="dashed"></div>
                                            </div>
                                        </div>
                                        <% if(params.roles.length > 0){ %>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  b-b b-light m-b-md" id="team-container" style="padding-bottom:10px;">
                                            <% for(var i = 0; i < params.roles.length; i++) { %>
                                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><%= params.roles[i].name %></label>
                                                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                                                        <select name="<%= params.roles[i].form_name %>" class="form-control m-b m-r-sm team-select" id="<%= params.roles[i].form_name %>" onchange="checkTeamMembers();">
                                                            <option value="" class="empty-option"></option>
                                                            <% for(var j = 0; j < params.members.length; j++) { %>
                                                                <% if(params.members[j].archived == 0){%> 
                                                                    <option value="<%= params.members[j].id %>" <% for(var k = 0; k < params.flightplanMembers.length; k++) { %> <% if(params.flightplanMembers[k].user_id == params.members[j].id && params.flightplanMembers[k].role_id == params.roles[i].id){ %> selected="selected" <% } %><% } %>>
                                                                        <% if(params.members[j].name == '' ||  params.members[j].name == 'null' || params.members[j].name == undefined){ %>
                                                                            <%= params.members[j].google_display_name %>
                                                                        <% }else{ %>
                                                                            <%= params.members[j].name %>
                                                                        <% } %>
                                                                    </option>
                                                                <% } %>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                                        <a class="btn btn-sm btn-info m-t-xxs" href="#" onclick="removeTeamMember(this);"><i class="fa fa-minus"></i></a>
                                                    </div>
                                            <% } %>
                                        </div>
                                        <div id="team-error" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-danger m-l-md"></div>
                                        <% } %>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="col-lg-6 m-t-md m-b-md ">
                                            <div class="form-group vehicles-form-group  m-t-md m-b-md">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left p-l-none">
                                                        <label>Vehicle</label>       
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right p-r-none m-b-sm">
                                                        <a class="btn btn-success btn-addon" data-toggle="modal" data-target="#modal-add-vehicle" onclick="changeSaveButton('vehicle');"><i class="fa fa-plus"></i>Create New Vehicle</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div id="vehicles">
                                                        <% if(params.vehicles.length > 0){ %>
                                                            <select name="vehicle" class="form-control m-b w-full m-r-sm" id="select-vehicle">
                                                                <% for(var i = 0; i < params.vehicles.length; i++) { %>
                                                                    <option value="<%= params.vehicles[i].id %>" <% for(var k = 0; k < params.flightplanVehicles.length; k++) { %> <% if(params.flightplanVehicles[k].vehicle_id == params.vehicles[i].id){ %> selected="selected" <% } %><% } %>>
                                                                        <%= params.vehicles[i].name %>
                                                                    </option>
                                                                <% } %>
                                                            </select>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                
                                                <div id="vehicle-error" class="text-danger m-t-md m-b-md col-lg-12"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 m-t-md m-b-md">
                                            <div class="form-group batteries-form-group  m-t-md m-b-md">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left p-l-none">
                                                        <label>Batteries</label>       
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right p-r-none m-b-sm">
                                                        <a class="btn btn-success btn-addon" data-toggle="modal" data-target="#modal-add-battery" onclick="changeSaveButton('battery');"><i class="fa fa-plus"></i>Create New Battery</a>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12">
                                                    <div id="batteries">
                                                        <% if(params.batteries != undefined && params.batteries.length > 0){ %>
                                                        <div class="battery-container">
                                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p-l-none p-r-none">
                                                                <select name="battery" class="form-control m-b w-full pull-left m-r-sm" id="select-battery">
                                                                    <% for(var i = 0; i < params.batteries.length; i++) { %>
                                                                        <option value="<%= params.batteries[i].id %>" <% if(params.flightplanBatteries[0] != undefined && params.flightplanBatteries[0].battery_id == params.batteries[i].id){ %> selected="selected"<% } %>>
                                                                            <%= params.batteries[i].name %>
                                                                        </option>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-r-none text-right">
                                                                <a class="btn btn-sm btn-info pull-left m-t-xxs" href="#/" onclick="removeBattery(this);" style="display:none;"><i class="fa fa-minus"></i></a>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                        <div id="additional-batteries">
                                                            <% if(params.batteries != undefined && params.batteries.length > 0 && params.flightplanBatteries != undefined && params.flightplanBatteries.length > 1){ %>
                                                                <% for(var i = 1; i < params.flightplanBatteries.length; i++) { %>
                                                                    <div class="battery-container">
                                                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p-l-none p-r-none">
             
                                                                            <select name="battery" class="form-control m-b w-full m-r-sm">
                                                                                <% for(var j = 0; j < params.batteries.length; j++) { %>
                                                                                    <option value="<%= params.batteries[j].id %>" <% if(params.flightplanBatteries[i].battery_id == params.batteries[j].id){ %> selected="selected"<% } %>>
                                                                                        <%= params.batteries[j].name %>
                                                                                    </option>
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  p-r-none text-right">
                                                                            <a class="btn btn-sm btn-info pull-left m-t-xxs" href="#/" onclick="removeBattery(this);"><i class="fa fa-minus"></i></a>
                                                                        </div>
                                                                    </div>
                                                                <% } %>
                                                            <% } %>
                                                        </div>
                                                        <a class="btn btn-info btn-addon m-r-sm" onclick="addAdditionalBattery();"><i class="fa fa-plus"></i>Add Additional Battery</a>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-12 b-t b-light">
                                            <div class="form-group m-t-md m-b-md">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-6 p-l-none">
                                                        <label style="padding-top:20px;">Documents</label>
                                                    </div>
                                                    <div class="col-lg-6 text-right p-r-none">
                                                    
                                                        <a class="btn btn-success btn-addon" data-toggle="modal" data-target="#modal-add-documents"><i class="fa fa-plus"></i>Upload New Documents</a>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12 m-t-md m-b-md">
                                                    <div id="documents">
                                                        <% include ../documents/library %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-12 b-t b-light">
                                            <div class="form-group col-lg-12 m-t-md">
                                                <label>Notes</label>
                                                <textarea name="notes" class="form-control"><%= params.flightplan.notes %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" name="coordinates" value="<%=params.selectedLocationCoordinatesString%>"/>
                                    <input type="hidden" name="location_name" id="location_name" value=""/>
                                    <input type="hidden" name="screenshot" id="screenshot" value=""/>
                                    <input type="hidden" name="how_to_save" id="how_to_save" value="save"/>
                                    <input type="hidden" name="selected_location_id" id="selected_location_id" value="<%= params.flightplan.location_id %>"/>
                                    <input type="hidden" name="hidden_project_id" id="hidden_project_id" value="<%= params.projectID %>"/>
                                    
                                    <div class="col-lg-12 text-left m-l-lg m-b-md m-t-lg">
                                        <a href="#" class="btn btn-md btn-info" onclick="submitFlightplanForm();">Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>
<!-- / content -->

<!-- add vehicle popup -->
<div id="modal-add-vehicle" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <% include ../vehicles/form %>
            <a class="btn-icon btn-lg close pull-left" data-dismiss="modal"><i class="icon-close"></i></a>
    </div>
</div>

<!-- add battery popup -->
<div id="modal-add-battery" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <% include ../batteries/form %>
            <a class="btn-icon btn-lg close pull-left" data-dismiss="modal"><i class="icon-close"></i></a>
    </div>
</div>

<!-- upload document popup -->
<div id="modal-add-documents" class="modal fade text-center modal-md" role="dialog">
    <div class="modal-dialog  bg-white" style="width:900px">
        <% include ../documents/form %>
            <a class="btn-icon btn-lg close pull-left" data-dismiss="modal"><i class="icon-close"></i></a>
    </div>
</div>

<!-- airmap info popup -->
<div id="modal-airmap" class="modal fade text-left modal-md" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<% include ../common/footer %>
<% include ../common/scripts %>
<script type="text/javascript">
    var selectedLocationCoordinates = [[]];
    <% for(var i = 0; i < params.selectedLocationCoordinates.length; i++) { %>
        selectedLocationCoordinates[0].push([<%= params.selectedLocationCoordinates[i].latitude %>, <%= params.selectedLocationCoordinates[i].longitude %>]);
    <% } %>
    
    <% for(var j = 0; j < params.members.length; j++) { %>
        teamMembers.push(<%= params.members[j].id %>);
    <% } %>
</script>


<script src="/assets/js/jquery/dropzone/dropzone.js"></script>
<script type="text/javascript">
    $(function () {   
        $("#starttime").on("dp.show", function () {
            $('.timepicker-picker button').removeClass('btn-primary').addClass('btn-info');
        });
        $("#endtime").on("dp.show", function () {
            $('.timepicker-picker button').removeClass('btn-primary').addClass('btn-info');
        }); 
        
        $("#starttime").on("dp.change", function (e) {
            var start = new Date(e.date);
            var end = new Date($('input[name=end_time]').val());
            
            if(start >= end){
                $('#time-error').html('Start time has to be before the end time!');
            }else{
                $('#time-error').html('');
            }
        });
        
        $("#endtime").on("dp.change", function (e) {
            var end = new Date(e.date);
            var start = new Date($('input[name=start_time]').val());
            if(start >= end){
                $('#time-error').html('Start time has to be before the end time!');
            }else{
                $('#time-error').html('');
            }
        });
    });
        
    var inline = true;
    var rowTemplate =   '<tr>' + 
                            '<td data-dz-name class="v-middle"><strong class="error text-danger" data-dz-errormessage></strong></td>' + 
                            '<td data-dz-size class="v-middle"></td>' +
                            '<td class="v-middle text-center">' + 
                                '<div class="progress progress-sm m-n">' + 
                                    '<div class="progress-bar bg-info progress-bar-striped" data-dz-uploadprogress></div>' + 
                                '</div>' + 
                            '</td>'+
                            '<td class="v-middle">' + 
                                '<select  class="form-control">';
                                <% for (var i = 0; i < params.documentTypes.length; i++){ %>
                                    rowTemplate += '<option value="<%= params.documentTypes[i].id %>"><%= params.documentTypes[i].name %></option>';
                                <% } %>
                                rowTemplate += '</select>' + 
                            '<td class="text-center v-middle status"></td>' +
                            '<td class="text-center v-middle action no-wrap"></td>' +
                        '</tr>';
   
    var S3RequestURL = '<%= params.S3RequestURL %>';
    var S3Bucket = '<%= params.S3Bucket %>';
</script>
<script src="/assets/js/upload.js"></script>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.0.0/mapbox-gl-geocoder.js"></script>
<script src="/assets/js/maps/mapbox-gl-draw.js"></script>

<script type="text/javascript">  

    $(document).ready(function(){
        $('#location_name_input').bind('input propertychange', function() {
            if($(this).val() == ''){
                $('#location_name_input').css('border', '1px solid #f05050');
                $('#location-name-error').css('display', 'block');
            }else{
                $('#location_name_input').css('border', '1px solid #cfdadd');
                $('#location-name-error').css('display', 'none');
            }
        });    
    });
    
    mapboxgl.accessToken = '<%= params.mapboxApiKey %>';
    var apiKey = '<%= params.airmapApiKey %>';
    
    var map;
    var zoom = 14;
    var center = [-73.984472, 40.759011];
    var Draw;
    var firstTime = true;
    var theme = 'standard';
       
    var layers = ['airports_recreational', 'airports_commercial', 'airports_recreational_private', 'airports_commercial_private', 'heliports', 'hospitals', 'class_b', 'class_c', 'class_d', 'class_e0', 'power_plants', 'parcels', 'national_parks', 'noaa', 'sua_prohibited', 'sua_restricted', 'schools']; 
    
    var layersString = layers.join();
    var currentLayers = ['class_b', 'national_parks'];
    var layersOn = false;
    
    var polygonCoordinates = [];    
    var coordinates = [];
    
    hideMap(false);
       
    // show/hide layers tab
    $('#map-layers-button').on('click', function(e){
        if(!layersOn){
            $('#map-layers').css('right', '1px');
             $('#map-layers-button').css('border-right', 'none');
            layersOn = true;
        }else{
            $('#map-layers').css('right', '-290px');
             $('#map-layers-button').css('border-right', '1px solid #cfdadd');
            layersOn = false;
        }
    });
       
    // get current user location
    if (navigator.geolocation) {
        var timeoutVal = 10 * 1000 * 1000;
        navigator.geolocation.getCurrentPosition(gotoPosition, positionError, { 
            enableHighAccuracy: true, 
            timeout: timeoutVal,
            maximumAge: 0 
        });
    } else {
        createMap(theme);
    }
    
    function gotoPosition(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        center = [long, lat];
        createMap(theme);
    }
    
    function positionError() {
        createMap(theme);
    }
    
    // show/hide map related stuff
    function hideMap(showMapLayers){
        $('#map').css('visibility', 'hidden');
        $('#map-loader').removeClass('hidden');
        $('#center-map').css('visibility', 'hidden');
        if(!showMapLayers){
            $('#map-layers').css('visibility', 'hidden');
        }    
    }
    function showMap(){
        $('#map-loader').addClass('hidden');
        $('#map').css('visibility', 'visible');
        $('#center-map').css('visibility', 'visible');
        $('#map-layers').css('visibility', 'visible');
    }
    
    
    
    function createMap(theme){
        hideMap(true);
       
        
        $('#map').html('');
        
        map = new mapboxgl.Map({
            container: 'map',
            style: 'https://api.airmap.io/maps/v3/tilejson/' + layersString + '?apikey=' + apiKey + '&token=' + apiKey + '&theme=' + theme, 
            center: center,
            zoom: zoom,
            preserveDrawingBuffer: true
        });
        
        map.addControl(new mapboxgl.Geocoder({position: 'bottom-left'}));
        
        map.on('load', function(){   
            hideAllLayers();     
            showCurrentLayers();
            
            setTimeout(function(){
                Draw = new mapboxgl.Draw();
                map.addControl(Draw);
                
                
                
                if(firstTime){
                    Draw.add({ type: 'Polygon', coordinates: selectedLocationCoordinates });
        
                    var selectedLocationCoordinatesShifted = selectedLocationCoordinates.shift();
                    
                    var bounds = findBoundingBox(selectedLocationCoordinatesShifted);
                    fit(map, bounds.minX, bounds.minY, bounds.maxX, bounds.maxY);
                    
                    firstTime = false;
                }else{
                    var coordinates = [];
                    coordinates[0] = polygonCoordinates;
                    if(polygonCoordinates.length > 0){
                        Draw.add({ type: 'Polygon', coordinates: coordinates, id:'polygon' });
                    }
                }
                
                showMap();
            }, 100);
        });
                
        map.on('draw.changed', function(){
            var drawnObjects = Draw.getAll();
            
            if(drawnObjects.features.length < 1){
                $('input[name="coordinates"]').val('');
                $('#map-error').css('display', 'block');
        
                $('button.mapbox-gl-draw_polygon').removeAttr('disabled', 'disabled');
                $('button.mapbox-gl-draw_polygon').removeClass('disabled');
            }else{
                $('#map-error').css('display', 'none');
        
                $('button.mapbox-gl-draw_polygon').attr('disabled', 'disabled');
                $('button.mapbox-gl-draw_polygon').addClass('disabled');
                
                var str = '';
                polygonCoordinates = [];
                for(var i = 0; i < drawnObjects.features[0].geometry.coordinates[0].length; i++){
                    str += drawnObjects.features[0].geometry.coordinates[0][i][0] + ',' + drawnObjects.features[0].geometry.coordinates[0][i][1] + '#';
                    polygonCoordinates.push([drawnObjects.features[0].geometry.coordinates[0][i][0], drawnObjects.features[0].geometry.coordinates[0][i][1]]);
                }
                str = str.substr(0, str.length - 1);
                $('input[name="coordinates"]').val(str);
            }
        });
        
        map.on('draw.deleted', function(){
            var drawnObjects = Draw.getAll();
            $('input[name="coordinates"]').val('');
            $('#map-error').css('display', 'block');
            
            polygonCoordinates = [];
                
            if(drawnObjects.features.length < 1){
                $('button.mapbox-gl-draw_polygon').removeAttr('disabled', 'disabled');
                $('button.mapbox-gl-draw_polygon').removeClass('disabled');
            }else{
                $('button.mapbox-gl-draw_polygon').attr('disabled', 'disabled');
                $('button.mapbox-gl-draw_polygon').addClass('disabled');
            }
        });        
    }
    
    $('#standard').on('click', function(){
        zoom = map.getZoom();
        center = map.getCenter();
        createMap('standard');
    });
    
    $('#satellite').on('click', function(){
        zoom = map.getZoom();
        center = map.getCenter();
        createMap('satellite');
    })
    
    
    function removeFromCurrentLayers(item){
        var index = currentLayers.indexOf(item);
        currentLayers.splice(index, 1);
    }
    
    function hideAllLayers(){
        for(var i = 0; i < layers.length; i++){
            map.setLayoutProperty(layers[i], 'visibility', 'none');
            if($('#map-layers a[data-layer="' + layers[i] + '"]').hasClass('active')){
                $('#map-layers a[data-layer="' + layers[i] + '"]').removeClass('active');
            }
            
        }
    }
    function showCurrentLayers(){
        for(var i = 0; i < currentLayers.length; i++){
            map.setLayoutProperty(currentLayers[i], 'visibility', 'visible');
            $('#map-layers a[data-layer="' + currentLayers[i] + '"]').addClass('active');
        }
    }
    
    function toggleLayer(layer){
        // remove
        if($('#map-layers a[data-layer="' + layer + '"]').hasClass('active')){
            map.setLayoutProperty(layer, 'visibility', 'none');
            $('#map-layers a[data-layer="' + layer + '"]').removeClass('active');
            removeFromCurrentLayers(layer);
        // add
        }else{
            map.setLayoutProperty(layer, 'visibility', 'visible');
            $('#map-layers a[data-layer="' + layer + '"]').addClass('active');
            currentLayers.push(layer);
        }
        if(currentLayers.length < layers.length){
            $('#selectalltext').prop('checked', false);
        }else if(currentLayers.length == layers.length){
            $('#selectalltext').prop('checked', true);
        }
    }
    
    function toggleAllLayers(){
        if($('#selectall input').is(':checked')){
            for(var i = 0; i < layers.length; i++){
                map.setLayoutProperty(layers[i], 'visibility', 'visible');
                $('#map-layers a[data-layer="' + layers[i] + '"]').addClass('active');
            }
            currentLayers = layers.slice(0);
        }else{
            for(var i = 0; i < layers.length; i++){
                map.setLayoutProperty(layers[i], 'visibility', 'none');
                $('#map-layers a[data-layer="' + layers[i] + '"]').removeClass('active');
            }
            currentLayers = [];
        }
    }
    
    function unselectAllLayers(){
        $('#selectalltext').prop('checked', false);
        for(var i = 0; i < layers.length; i++){
            map.setLayoutProperty(layers[i], 'visibility', 'none');
            $('#map-layers a[data-layer="' + layers[i] + '"]').removeClass('active');
            
        }
    }
    
      
    function centerMap() {
        if(polygonCoordinates.length == 0){
            map.flyTo({center: center});
        }else{
            var bounds = findBoundingBox(polygonCoordinates);
            fit(map, bounds.minX, bounds.minY, bounds.maxX, bounds.maxY);
        }
    } 
    
    function setLocationCoordinates(locationID){
        $('#selected_location_id').val(locationID);
        if(locationID != ''){
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                cache: false,
                url: '/flightplans/get-location-coordinates/' + locationID,
                success: function (data) {
                    if (data.result == 'ok') {
                        $('#buttonsContainer').addClass('hidden');
                        $('#radiosContainer').removeClass('hidden');
                        
                        var html = '<option value="">Choose Location</option>';
                        var coordinatesArray = [[]];
                        var boundingArray = [];
                        for (var i = 0; i < data.coordinates.length; i++) {
                            coordinatesArray[0].push([data.coordinates[i].latitude, data.coordinates[i].longitude]);
                            boundingArray.push([data.coordinates[i].latitude, data.coordinates[i].longitude]);
                        }
                        var bounds = findBoundingBox(boundingArray);
                        fit(map, bounds.minX, bounds.minY, bounds.maxX, bounds.maxY);
                        
                        var feature = { type: 'Polygon', coordinates: coordinatesArray, id: 'unique-id' };
                        var featureId = Draw.add(feature);
                        
                        
                    } else {
                        alert('Ooops! Something went wrong. Please, try again.');
                    }
                },
                error: function() {
                    alert('Ooops! Something went wrong. Please, try again.');
                }
            });
        }else{
            $('#buttonsContainer').removeClass('hidden');
            $('#radiosContainer').addClass('hidden');
            Draw.deleteAll();
        }
    }
    
</script>
<script src="/assets/js/areyousure/jquery.are-you-sure.js"></script>
<script type="text/javascript">
    $(function() {
        $('#flightplan-form').areYouSure({
            message: 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.'
        });
    });
</script>
<% include ../common/intercom %>
<% include ../common/end %>