<% include ../common/metadata_start %>
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <% include ../common/warning %>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12 m-b-sm">
                            <h1 class="m-n font-thin h3"><%- params.header %></h1>
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 text-right" id="tour-create-flightplan">
                            <a class="btn m-b-xs btn-info btn-addon" href="#" onclick="checkPlanFlightplans('/flightplans/add/<%- params.projectID %>');"><i class="fa fa-plus" ></i>Create New Flight Plan</a>
                        </div>
                    </div>
                </div>
                <!-- / main header -->
                <div class="wrapper-md">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-<%= color %>" id="message">
                            <button type="button" class="close" onclick="closeMessage();">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div><span><%- message %></span></div>
                        </div>
                    <% } %>

                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-b" ui-jq="dataTable" ui-options="{
                                    aaData: <%= params.flightplans %>,
                                    aoColumns: [
                                        { mData: 'view', 'sClass': 'text-center', 'bSortable': false },
                                        { mData: 'name' },
                                        { mData: 'group_name' },
                                        { mData: 'location' },
                                        { mData: 'start_time', 'sClass': 'text-center' },
                                        { mData: 'end_time', 'sClass': 'text-center' },
                                        { mData: 'notes', 'sClass': 'text-center' },
                                        { mData: 'edit', 'sClass': 'text-center', 'bSortable': false },
                                        { mData: 'delete', 'sClass': 'text-center', 'bSortable': false }
                                    ],
                                    aaSorting: [[1,'asc']]
                                }">
                                <thead>
                                    <tr>
                                        <th width="5%">View</th>
                                        <th width="25%">Name</th>
                                        <th width="10%">Group Name</th>
                                        <th width="15%">Location</th>
                                        <th width="15%">Start</th>
                                        <th width="15%">End</th>
                                        <th width="5%">Notes</th>
                                        <th width="5%">Edit</th>
                                        <th width="5%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->

        </div>
    </div>
</div>
<!-- /content -->

<!-- delete popup -->
<div id="modal-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Flightplan</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this flightplan?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" id="modal-delete-button">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- location popup -->
<div id="modal-location" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:768px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<% include ../common/notes %>
<% include ../common/footer %>
<% include ../common/scripts %>
<% include ../common/intercom %>
<% include ../common/end %>