<% include ../common/metadata_start %>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">	
<link rel="stylesheet" type="text/css" href="/assets/css/button.css">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
<% include ../common/metadata_end %>
<% include ../common/header %>
<% include ../common/sidebar %>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div ui-butterbar="" class="butterbar" id="loader-content"><span class="bar"></span></div>
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- main -->
            <div class="col">
                <p id="browser-check" class="text-center bg-light dker wrapper-sm m-n hidden"></p>
                <p id="camera-check" class="text-center bg-light dker wrapper-sm m-n hidden"></p>
                <% include ../common/warning %>
                    <!-- main header -->
                    <div class="bg-light lter b-b wrapper-md">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <h1 class="m-n font-thin h3 pull-left"><%- params.header %></h1>
                                <a href="#" class="btn btn-success btn-addon pull-right m-l-lg" id="button-connect"><i class="fa fa-link"></i>Connect</a>
                                <!--<a href="#" class="btn btn-info pull-right m-l-sm" id="button-online-sockets"><i class="icon-feed"></i></a>-->
                                
                            </div>
                        </div>
                    </div>
                    <!-- / main header -->
                    <div ng-model="" class="wrapper-md">
                        <div class="alert alert-danger hide" id="message">
                            <button type="button" class="close" onclick="hideMessage();">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div><span id="message-text"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-default no-padder" id="tour-flight-video">
                                    <div class="panel-heading">Live</div>
                                    <div class="panel-body no-padder">
                                        <div class="item m-l-n-xxs m-r-n-xxs b-b" style="min-height:480px;">
                                            <div id="image-container" class="text-center"><img id="unitImg" src="/assets/images/andruav-no-image.png" class="col v-middle" /></div>
                                            <div id="video-container" class="text-center hidden"><img id="unitVideo" src="/assets/images/andruav-no-video.png" class="col v-middle" /></div>                                            
                                        </div>
                                        <div class="hbox text-center text-sm">
                                            <a href="#" class="col padder-v text-muted b-r b-light active"  id="imageLink">
                                                <i class="icon-camera block m-b-xs fa-2x "></i>
                                            </a>
                                            <a href="#" class="col padder-v text-muted" id="videoLink" >
                                                <i class="icon-camcorder block m-b-xs fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-default no-padder" id="tour-flight-map">
                                    <div class="panel-heading ">Map</div>
                                    <div class="panel-body no-padder" id="map_view"> 
                                        <div id="map" style="height:542px;"></div>
                                        <a href="#" onclick="centerMap();" id="center-map" title="Center map to location" style="bottom:40px; right:30px"><i class="icon icon-target text-info"></i></a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 hidden">
                                <div class="panel panel-default" style="height:330px;" id="log">
                                    <div class="panel-heading scroll-x">
                                        <span class="pull-left">Log</span>
                                        <a href="#" class="btn btn-sm btn-info btn-addon pull-right" id="button-clear-log"><i class="fa fa-eraser"></i>Clear Log</a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="timeline" id="message_log" ui-jq="slimScroll" ui-options="{height:'260px', size:'8px', start:'bottom'}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-default no-padder" id="andruav-unit-list" style="display:none;">
                                    <div class="panel-heading">Andruav Unit List</div>
                                    <div class="panel-body" style="min-height:490px;">
                                        <div class='andruavUnitList' id="andruavUnits">
                                            <table id="andruavUnitList"  class='andruavUnitList'></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="tour-flight-chat">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Comments</div>
                                    <div class="panel-body" id="comments-scroll" ui-jq="slimScroll" ui-options="{height:'490px', size:'8px', start:'bottom'}">
                                        <div class="m-b b-l m-l-md streamline ">
                                            <% for(var i = 0; i < params.comments.length; i++) {%>
                                            <div>
                                                <a class="pull-left thumb-sm avatar m-l-n-md "><img src="<%= params.comments[i].photo %>" class="img-circle"></a>
                                                <div class="m-l-lg panel b-a">
                                                    <div class="panel-heading pos-rlt b-b b-light">
                                                        <span class="arrow left"></span>
                                                        <a href="">
                                                            <%= params.comments[i].name %>
                                                        </a>
                                                        <label class="label <%= params.comments[i].role_class %> m-l-xs">
                                                            <%= params.comments[i].role %>
                                                        </label>
                                                        <span class="text-muted m-l-sm pull-right pull-none-xs m-l-n-xxs shift in"><i class="fa fa-clock-o m-r-xs"></i><%= params.comments[i].timestamp %></span>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div>
                                                            <%= params.comments[i].content %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="clearfix m-b-lg">
                                            <a class="pull-left thumb-sm avatar"><img src="<%= userPhoto %>"></a>
                                            <div class="m-l-xxl">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Input your comment here" name="new-comment" id="new-comment">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" id="post-comment-btn">POST</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 hidden">
                                <div class="panel panel-default no-padder" id="communication">
                                    <div class="panel-heading">Communication Messages</div>
                                    <div class="panel-body">
                                        <form action="#" method="POST" name="form" class="form-validation">
                                            <div class="form-group">
                                                <label>Send To</label>
                                                <select name="status" class="form-control m-b" id="comm_method">
                                                    <option value="g">Group</option>
                                                    <option value="i">Individual</option>
                                                </select>
                                            </div>
                                            <div class="form-group" id="comm_unitID">
                                                <label>Target Unit ID</label>
                                                <input type="text" class="form-control" id="txtTargetUnitID" name="txtTargetUnitID" value="" />
                                            </div>
                                            <div class="form-group" id="comm_msg">
                                                <label>Message Text</label>
                                                <input type="text" class="form-control" id="txtMsg" name="txtMsg" value="" />
                                            </div>
                                            <div class="submit-container">
                                                <button type="submit" class="btn btn-default btn-info" id="button-send-message">Send Message</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>
<!-- /content -->

<!-- browser alert popup -->
<a href="#" id="browser-popup-link" data-toggle="modal" data-target="#modal-browser-popup" style="visibility:hidden;"></a>
<div id="modal-browser-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body text-center">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- change vehicle unit id popup -->
<a href="#" id="change-vehicle-id-popup-link" data-toggle="modal" data-target="#modal-change-vehicle-id-popup" style="visibility:hidden;"></a>
<div id="modal-change-vehicle-id-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vehicle Unit ID Change</h4>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <input type="text" name="name" id="new-vehicle-id" class="form-control" placeholder="New ID (max 10 characters)" required maxlength="5">
                </div>
                <div class="modal-footer m-t-n m-b-n no-border p-r-none p-l-none">
                    <div class="col-lg-8 p-l-none">
                        <div id="new-vehicle-id-msg" class="text-left"></div>
                    </div>
                    <div class="col-lg-4 p-r-none">
                        
                        <a class="btn btn-default btn-info" onclick="saveNewID('vehicle', <%=params.flightplanID%>);">Save</a>
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <div id="new-vehicle-id-loader" class="m-l-md m-t-xs text-right pull-left hidden"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- change member unit id popup -->
<a href="#" id="change-member-id-popup-link" data-toggle="modal" data-target="#modal-change-member-id-popup" style="visibility:hidden;"></a>
<div id="modal-change-member-id-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Member Unit ID Change</h4>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <input type="text" name="name"  id="new-member-id"  class="form-control" placeholder="New ID (max 10 characters)" required maxlength="5">
                </div>
                <div class="modal-footer m-t-n m-b-n no-border p-r-none p-l-none">
                    <div class="col-lg-8 p-l-none">
                        <div id="new-member-id-msg" class="text-left"></div>
                    </div>
                    <div class="col-lg-4 p-r-none">
                        <a class="btn btn-default btn-info" onclick="saveNewID('member', <%=params.flightplanID%>);">Save</a>
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <div id="new-member-id-loader" class="m-l-md m-t-xs text-right pull-left hidden"><i class="fa fa-spin fa-circle-o-notch"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer %>
<script src="https://cdn.webrtc-experiment.com/DetectRTC.js"></script>
<% include ../common/scripts %>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/andruav/helpers.js"></script>
<script src="/assets/js/andruav/andruavUnit.js"></script>
<script src="/assets/js/andruav/andruavclient.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=params.googleMapsApiKey%>&callback=initMap"></script>
<script>
    var coordinates = <%- params.coordinates %>;
    var polygonCoordinates = <%- params.coordinatesGoogle %>;
    var centerCoordinates = <%- params.coordinatesCenter %>;
    var userID = <%= params.userID %>;
    var flightplanID = <%= params.flightplanID %>;
    var roleID = <%= params.roleID %>;
    var accessCode = '<%= params.accessCode %>';
    var group = '<%= params.groupName %>';
    var unitID = '<%= params.unitID %>';
    var vehicleUnitID = '<%= params.vehicleID %>';
</script>
<script src="/assets/js/flights.js"></script>
<% include ../common/intercom %>
<% include ../common/end %>