<div class="panel panel-default m-b-none">
    <div class="panel-heading font-bold">Battery Info</div>
    <div class="panel-body">
        <form method="POST" name="form" class="form-validation" id="battery-form">
            <input type="hidden" name="battery" value="1">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter battery name" required value="<%= params.name %>" id="battery-name">
            </div>
            <div class="form-group">
                <label>Serial Number</label>
                <input type="text" name="serial_number" class="form-control" placeholder="Enter battery serial number" required value="<%= params.serial_number %>" id="battery-serial-number">
            </div>
            <div class="form-group">
                <label>Charge (ex. 90)</label>
                <input type="text" name="charge" class="form-control" placeholder="Enter battery charge" oninvalid="setCustomValidity('Enter integer number.');" onchange ="setCustomValidity('');" value="<%= params.charge %>">
            </div>
            <div class="form-group">
                <label>Voltage (ex. 12.0)</label>
                <input type="text" name="voltage" class="form-control" placeholder="Enter battery voltage" oninvalid="setCustomValidity('Enter decimal number.');" onchange ="setCustomValidity('');" value="<%= params.voltage %>">
            </div>
            <div class="form-group status">
                <label>Status</label>
                <select name="status" class="form-control m-b">
                    <option value="1" <% if(params.status == 1){%> selected="selected" <% } %>>Active</option>
                    <option value="2" <% if(params.status == 2){%> selected="selected" <% } %>>Grounded</option>
                    <option value="3" <% if(params.status == 3){%> selected="selected" <% } %>>Retired</option>
                </select>
            </div> 
            <div class="form-group">
                <label>Notes</label>
                <textarea name="notes" class="form-control" id="battery-notes"><%= params.notes %></textarea>
            </div>
            <div class="submit-container">
                <button type="submit" class="btn btn-default btn-info">Save</button>
            </div>
        </form>
    </div>
</div>